<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>
    <meta name="robots" content="noindex, nofollow"/>
    <!--[if IE ]>
    <link rel="stylesheet" href="css/ie.css" media="screen" />
    <![endif]-->
</head>

<body>

<div id="container">

    <div id="header">

        <div id="top">
            <div id="top_slogan"></div>
        </div>

        <div id="center">
            <a href="#" class="logo" title="Work Plus"></a>

            <div id="one"><a href="#" class="one" title="База репетиторов">База репетиторов</a>
                <p>Анкеты лучших репетиторов России - выберите репетитора самостоятельно </p>
            </div>

            <div id="two"><a href="#" class="two" title="Найти репетитора">Найти репетитора</a>
                <p>Заполните форму, и Вам бесплатно подберут подходящего репетитора</p>
            </div>

            <div id="plashka1"><a href="#" title="Регистрация репетиторов">Регистрация репетиторов</a></div>

        </div>
        <!-- END #center -->

        <div id="bottom">

            <div id="plashka2">
                <p><b>Москва:</b> +7 <span>(495)</span> 123-45-67</p>

                <p><b>Санкт-Петербург:</b> +7 <span>(812)</span> 123-45-67</p>
            </div>

            <div id="main_menu">
                <a href="#" title="Контакты" class="n1">Контакты</a> <a href="#" title="Помощь" class="n2">Помощь</a> <a
                    href="#" title="О компании" class="n3">О компании</a>
            </div>

        </div>
    </div>
    <!-- END #header -->

    <div id="wrapper">

        <div id="sidebar">
            <h3>Новости</h3>

            <div class="date">12.01.2013</div>
            <div class="text">
                <a href="#" title="Прочитать новость полностью">17 августа 2008 года - это день рождения нашего портала,
                    в этот день мы подобрали репетитора для первого ученика, обратившегося к нам за помощью.</a>
                <a href="#" title="Прочитать новость полностью">C тех пор мы постоянно совершенствуем наш сервис и
                    повышаем уровень обслуживания наших клиентов. На сегодняшний день услугами нашего портала могут
                    пользоваться жители всех крупных городов России.</a>
            </div>

            <div class="date">01.01.2013</div>
            <div class="text">
                <a href="#" title="Прочитать новость полностью">17 августа 2008 года - это день рождения нашего портала,
                    в этот день мы подобрали репетитора для первого ученика, обратившегося к нам за помощью, с тех пор
                    мы постоянно совершенствуем наш сервис и повышаем уровень обслуживания наших клиентов. </a>
                <a href="#" title="Прочитать новость полностью">На сегодняшний день услугами нашего портала могут
                    пользоваться жители всех крупных городов России.</a>
            </div>
        </div>
        <!-- END #navigation -->


        <div id="content">
            <div id="breadcrumbs">
                <a href="#">Главная</a>
                <span>></span>
                <a href="#">О компании</a>
                <span>></span>
                <a href="#">Подраздел 1</a>
                <span>></span> Подраздел 2
            </div>

            <h1>О КОМПАНИИ</h1>

            <p><span class="blue">WORK-PLUS.RU</span> - Российский кадровый Интернет - портал, специализирующийся на
                бесплатном подборе репетиторов и преподавателей для Вас и вашей семьи по любым наукам: гуманитарным,
                техническим, общественным, прикладным, естественным.</p>

            <p><span class="blue">Наша задача:</span> оперативно и бесплатно подобрать для клиента оптимальный вариант
                при минимальных затратах сил и времени с его стороны.</p>

            <p>17 августа 2008 года - это день рождения нашего портала, в этот день мы подобрали репетитора для первого
                ученика, обратившегося к нам за помощью, с тех пор мы постоянно совершенствуем наш сервис и повышаем
                уровень обслуживания наших клиентов. На сегодняшний день услугами нашего портала могут пользоваться
                жители всех крупных городов России, среди них: Москва, Санкт-Петербург, Барнаул, Волгоград, Воронеж,
                Екатеринбург, Казань, Краснодар, Красноярск, Нижний Новгород, Новосибирск, Омск, Пермь, Ростов-на-Дону,
                Самара, Тольятти, Уфа, Челябинск и Ярославль.</p>

            <p>Главной особенностью нашего портала является то, что наши репетиторы выполняют свою работу без заключения
                договора с работодателем, т.е. их нанимают один раз для реализации определенной цели.</p>

            <p>Наши пользователи - это люди, желающие выучить иностранный язык, поступить в престижный ВУЗ, добиться
                хорошей оценки по ЕГЭ и многие, многие другие.</p>

            <p>Принимая во внимание сложившуюся конкуренцию на рынке труда, мы стараемся предложить нашим клиентам
                большой выбор исполнителей, которые позволят удовлетворить самых взыскательных клиентов. Каждый работник
                на нашем сайте имеет свою персональную страничку (анкету), с помощью которой вы можете познакомиться с
                ним, узнать его профессиональные навыки и впоследствии при желании нанять его.</p>

            <p>Мы искренне желаем помочь Вам и непременно постараемся это сделать!</p>

            <div class="ankets">
                <input type="button" value="" class="back_ankets"/>
                <input type="button" value="" class="next_ankets"/>
            </div>
            <div class="reps">
                <input type="button" value="" class="back_rep"/>
                <input type="button" value="" class="next_rep"/>
            </div>

        </div>
        <!-- END #content -->
    </div>
    <!-- END #wrapper -->

    <div id="footer">
        <p>
            <span><b>Москва:</b> +7 <i>(495)</i> 123-45-67</span>
            <span><b>Санкт-Петербург:</b> +7 <i>(812)</i> 123-45-67</span>
        </p>

        <div id="bottom_nav">
            <a href="#" title="О компании">О компании</a>
            <a href="#" title="Помощь">Помощь</a>
            <a href="#" title="Контакты">Контакты</a>
        </div>

        <div id="search"> ПОИСК ПО САЙТУ:
            <input type="text" class="search_text"/>
            <input type="button" value="" class="search_button"/>
        </div>

        <div id="author"><a href="#" title="">Дизайн сайта</a></div>
    </div>
    <!-- END #footer -->

</div>
<!-- END #container -->
</body>
</html>