<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Water FIlters</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="css/grid.css"/>
    <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css"/>
    <link rel="stylesheet" href="../js/ikselect/ikSelect.css"/>
    <link rel="stylesheet" href="../js/ikselect/ikSelectOSX.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <!--[if IE 6]>
    <link rel="stylesheet" href="css/ie6.css"/>
    <![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" href="css/ie7.css"/>
    <![endif]-->

    <!--[if IE 8]>
    <link rel="stylesheet" href="css/ie8.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css"/>
    <script src="../js/html5.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container_16 page">

    <!-- Header -->
    <div class="grid_3">
        <div id="logo">
            <a href="#" title=""></a>
        </div>
    </div>

    <div class="grid_10">
        <select class="cities">
            <option value="value1">Москва</option>
            <option value="value2">Санкт-Петербург</option>
            <option value="value3" selected>Новосибирск</option>
            <option value="value4">Томск</option>
        </select>

        <div class="phone">
            <span>510-540</span><br/>
            <a href="#" title="">заказать звонок</a>
        </div>

        <span class="reasonclick">3 причины</span>

        <div class="reasons">
            <div class="panel">
                <div class="reason h24">
                    <p>24 часа в сутки</p>
                    <span>работаем для вас</span>
                </div>
                <div class="reason delivery">
                    <p>доставим до двери</p>
                    <span>в удобное для вас время</span>
                </div>
                <div class="reason change">
                    <p>обмен без хлопот</p>
                    <span>если товар вам не понравился</span>
                </div>
            </div>
        </div>
    </div>

    <div class="grid_3">
        <div class="login">
            <a href="#" title="">Войти под именем</a>

            <div class="soc_icons">
                <a href="#" title="" class="icon od last"></a>
                <a href="#" title="" class="icon ya"></a>
                <a href="#" title="" class="icon tw"></a>
                <a href="#" title="" class="icon fb"></a>
                <a href="#" title="" class="icon vk"></a>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!--/ END Header -->

    <!-- Top Menu -->
    <div class="grid_16">
        <ul class="nav main prefix_3">
            <li>
                <a href="#">для квартиры</a>
                <ul>
                    <li>
                        <a href="#">подменю</a>
                    </li>
                    <li>
                        <a href="#">подменю</a>
                    </li>
                    <li>
                        <a href="#">подменю длинный пункт</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">для коттеджа</a>
            </li>
            <li>
                <a href="#">для офиса</a>
            </li>
            <li>
                <a href="#">для дома</a>
            </li>

            <li class="secondary compare">
                <a href="#" title="">сравнение:</a><span>2</span>
            </li>
            <li class="secondary cart">
                <a href="#" title="">ваша корзина:</a><span>3 шт, 4560</span>
            </li>
            <li class="secondary this_summer">
                <a href="#" title="">этим летом</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <!--/ END Top Menu -->


    <div class="grid_16">

    <div id="middle">

    <div id="container">
    <div id="content">

    <!-- Breadcrumbs -->
    <div class="grid_16">
        <div class="crumbs"><a href="#">Главная</a></div>
    </div>
    <!--/ END Breadcrumbs -->

    <div class="box">

    <!-- Slider -->
    <h3>Реальная экономия</h3>
    <div class="timer">
        <div class="t">
            <div class="l"></div>
            <div class="r"></div>
            <div class="c"></div>
        </div>
        <div class="m">
            <div class="l"></div>
            <div class="r"></div>
            <div class="c inner">

                <ul id="timer" class="jcarousel-skin-tango">
                    <li class="item">
                        <div class="item_img">
                            <img src="img/item1.jpg" alt=""/>
                        </div>
                        <div class="item_info">
                            <h3><a href="" title="">Фильтр для воды</a></h3>
                            <a href="#" title="" class="compare">Сравнить</a>

                            <div class="old_price">780 <span>р.</span></div>
                            <div class="price">509 <span>р.</span></div>
                        </div>
                        <div class="order">
                            <a href="#" title="" class="oneclick">Заказать в один клик</a>
                            <a href="#" title="Добавить в корзину" class="tocart"></a>
                        </div>
                    </li>

                    <li class="item">
                        <div class="item_img">
                            <img src="img/item2.jpg" alt=""/>
                        </div>
                        <div class="item_info">
                            <h3><a href="" title="">Фильтр для воды</a></h3>
                            <a href="#" title="" class="compare">Сравнить</a>

                            <div class="old_price">820 <span>р.</span></div>
                            <div class="price">640 <span>р.</span></div>
                        </div>
                        <div class="order">
                            <a href="#" title="" class="oneclick">Заказать в один клик</a>
                            <a href="#" title="Добавить в корзину" class="tocart"></a>
                        </div>
                    </li>

                    <li class="item">
                        <div class="item_img">
                            <img src="img/item3.jpg" alt=""/>
                        </div>
                        <div class="item_info">
                            <h3><a href="" title="">Фильтр для воды</a></h3>
                            <a href="#" title="" class="compare">Сравнить</a>

                            <div class="old_price">1230 <span>р.</span></div>
                            <div class="price">950 <span>р.</span></div>
                        </div>
                        <div class="order">
                            <a href="#" title="" class="oneclick">Заказать в один клик</a>
                            <a href="#" title="Добавить в корзину" class="tocart"></a>
                        </div>
                    </li>

                    <li class="item">
                        <div class="item_img">
                            <img src="img/item4.jpg" alt=""/>
                        </div>
                        <div class="item_info">
                            <h3><a href="" title="">Фильтр для воды</a></h3>
                            <a href="#" title="" class="compare">Сравнить</a>

                            <div class="old_price">780 <span>р.</span></div>
                            <div class="price">509 <span>р.</span></div>
                        </div>
                        <div class="order">
                            <a href="#" title="" class="oneclick">Заказать в один клик</a>
                            <a href="#" title="Добавить в корзину" class="tocart"></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="b">
            <div class="l"></div>
            <div class="r"></div>
            <div class="c"></div>
        </div>
        <div class="timer_corner"></div>
    </div>
    <!--/ END Slider -->

    <!-- Most Wanted -->
    <h3>Самые желанные:</h3>
    <div class="item">
        <div class="item_img">
            <img src="img/item4.jpg" alt=""/>

            <div class="label new"></div>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Фильтр для воды</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">950 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="img/item5.jpg" alt=""/>

            <div class="label sale20"></div>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Фильтр для воды</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">950 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="img/item6.jpg" alt=""/>

            <div class="label cool"></div>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Фильтр для воды</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">950 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="clear"></div>
    <!--/ END Most Wanted -->

    <!-- Useful -->
    <h3>Полезно в быту:</h3>
    <div class="item">
        <div class="item_img">
            <img src="img/item7.jpg" alt=""/>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Вакуумный сосуд</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">250 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="img/item8.jpg" alt=""/>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Вакуумный сосуд</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">250 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="img/item9.jpg" alt=""/>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Кондиционер</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">2450 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="img/item10.jpg" alt=""/>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Ионизатор воздуха</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">1250 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="img/item11.jpg" alt=""/>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Солевая лампа</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">750 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>

    <div class="item">
        <div class="item_img">
            <img src="img/item12.jpg" alt=""/>
        </div>
        <div class="item_info">
            <h3><a href="" title="">Вентилятор</a></h3>
            <a href="#" title="" class="compare">Сравнить</a>

            <div class="price">650 <span>р.</span></div>
        </div>
        <div class="order">
            <a href="#" title="" class="oneclick">Заказать в один клик</a>
            <a href="#" title="Добавить в корзину" class="tocart"></a>
        </div>
    </div>
    <!--/ END Useful -->

    </div>
    <!--/ END .box-->
    </div>
    <!--/ END #content-->
    </div>
    <!--/ END #container-->

    <!-- sideLeft -->
    <div class="sidebar" id="sideLeft">
        <div class="box">
            <div class="block" id="list-items">

                <ul class="menu">
                    <li><a href="#">Этим летом <span>28</span></a></li>
                    <li><a href="#">Новинки <span>17</span></a></li>
                    <li><a href="#">Мы рекомендуем <span>34</span></a></li>
                    <li><a href="#">Товары со скидкой <span>12</span></a></li>
                </ul>

                <h5>Категории:</h5>
                <ul class="categories">
                    <li><a href="#">Вентиляторы</a></li>
                    <li><a href="#">Кондиционеры</a></li>
                    <li><a href="#">Солевые лампы</a></li>
                    <li><a href="#">Вакумная посуда</a></li>
                    <li><a href="#">Ионизаторы</a></li>
                    <li><a href="#">Нагреватели</a></li>
                    <li><a href="#">Фильтры для воды</a></li>
                </ul>

            </div>
        </div>
        <div class="longbanner"></div>
    </div>
    <!--/ END #sideLeft -->

    <!-- #sideRight -->
    <div class="sidebar" id="sideRight">

        <div class="box searvices">
            <div class="block">
                <h2>Хороший сервис:</h2>

                <div class="serivce consultant">
                    <a href="#" title="">консультант</a>

                    <p>поможем с выбором</p>
                </div>
                <div class="serivce cartrige">
                    <a href="#" title="">поиск картриджа</a>

                    <p>для вашего фильтра</p>
                </div>
                <div class="serivce filter">
                    <a href="#" title="">подбор фильтра</a>

                    <p>на основе расчета потребления воды</p>
                </div>
            </div>
        </div>

        <div class="banner">
            <h2>Купите фильтр Барьер</h2>
            <img src="img/banner1.jpg" alt=""/>

            <p>и получите <br/><strong>3 картриджа</strong></p>

            <div class="button">в подарок</div>
        </div>

    </div>
    <!--/ END #sideRight -->

    </div>
    <!-- END #middle-->

    <div class="backflowers1"></div>
    <div class="backflowers2"></div>

    </div>
    <!-- END .grid_16-->

    <div class="clear"></div>

    </div>
    <!--/ END .container_16 -->

    <!-- Footer -->
    <div class="container_16">
        <div class="grid_16" id="footer">
            <div class="grid_4">
                <div class="cozy">
                    Заказы удобно делать с телефона или планшета
                </div>
                <div class="paysystems">
                    <img src="img/icon_paysystems.png" alt=""/>
                </div>
            </div>
            <div class="grid_9">
                <p class="copy">
                    © 2013 Хорошие фильтры (<a href="#" title="">www.goodfilters.ru</a>)
                </p>

                <p class="foot_phone">
                    (382-2) <strong>510-540</strong> — заказ по телефону
                    <span class="onlinehelp">Консультант в сети</span>
                </p>
                <ul class="foot_links popular">
                    <li class="title">Популярные товары</li>
                    <li><a href="#" title="">Вентиляторы</a></li>
                    <li><a href="#" title="">Кондиционеры</a></li>
                    <li><a href="#" title="">Солевые лампы</a></li>
                    <li><a href="#" title="">Вакумная посуда</a></li>
                </ul>
                <ul class="foot_links about">
                    <li class="title">О компании</li>
                    <li><a href="#" title="">Почему мы?</a></li>
                    <li><a href="#" title="">Контакты</a></li>
                </ul>
                <ul class="foot_links toclient">
                    <li class="title">Клиенту</li>
                    <li><a href="#" title="">Доставка</a></li>
                    <li><a href="#" title="">Возврат и обмен</a></li>
                    <li><a href="#" title="">Оплата</a></li>
                    <li><a href="#" title="">Задать вопрос</a></li>
                </ul>

            </div>
            <div class="grid_3">
                <p class="webstudio">Создание и поддержка —<br/>
                    <a href="#" title="">Веб-студия Бобяков.ру</a></p>
            </div>

        </div>
        <!-- #footer-->
    </div>
    <!--/ END Footer -->

<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../js/ui/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="../js/960gs/jquery-fluid16.js"></script>
<script type="text/javascript" src="../js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../js/ikselect/jquery.ikSelect.min.js"></script>
<script type="text/javascript" src="../js/jcarousel/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>