<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta name="robots" content="noindex, nofollow"/>

    <title>Furnita</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>

    <!-- Round Corners for IE -->
    <script type="text/javascript" src="../js/ie/DD_roundies.js"></script>
    <!--[if IE ]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen,print"/>
    <script>
        DD_roundies.addRule('#currency', '20px');
    </script>
    <![endif]-->
</head>

<body>

<div id="container">
    <div id="wrap">

        <!-- Header -->
        <div id="header">
            <h1 class="logo"><a href="index.html" title="Furnita">Furnita</a></h1>

            <div id="slogan"></div>

            <div id="currency"><span>курс USD</span> <b>28.22</b> (−0.1407)</div>

            <div id="phone">
                <p>Москва<br/><span>+7 495 123-45-67</span></p>
                <p>Санкт-Петербург<br/><span>+7 812 123-45-67</span></p>
            </div>
            <div id="contact">
                <a href="#" title="">Обратный звонок</a>
                <a href="#" title="">Написать нам</a>
            </div>
        </div>
        <!--/ END Header -->

        <!-- Main Menu  -->
        <div id="main_menu">
            <ul>
                <li><a href="about.html">О компании</a></li>
                <li><a href="index.html">Наш каталог</a></li>
                <li><a href="dealers.html">Наши поставщики</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <!--/ END Main Menu -->

        <!-- Banners -->
        <div id="banners">
            <p>Спецпредложение - купите этот товар прямо сейчас по самым низким ценам.</p>
            <a href="#" title="" class="banner b1"></a>
            <a href="#" title="" class="banner b2"></a>
            <a href="#" title="" class="banner b3"></a>
        </div>
        <!--/ END Banners -->


        <div id="wrapper">

            <div id="content">

                <div id="breadcrumbs"><a href="#">Главная</a> » <span class="current">О компании</span></div>

                <img src="img/img1.png" alt="" class="right"/>

                <p>Контейнерными поставками из Китая по направлению "мебельная фурнитура" наша компания занимается уже
                    более 3х лет. За это время у нас появились постоянные, верные нам клиенты, которые работают с нами
                    по наиболее устраивающей их схеме работы.</p>

                <p>На сегодняшний день мы предлагаем <strong>2 варианта сотрудничества</strong>:</p>

                <p><a href="#" title="" class="button gray">Оптовая продажа мебельной фурнитуры с контейнера</a>
                    <a href="#" title="" class="button blue">Заказ контейнера мебельной фурнитуры из Китая</a></p>

                <p style="clear:both"><strong>Наши клиенты это:</strong></p>
                <ol>
                    <li>организации по направлению B2B (перепродажники)</li>
                    <li>крупные, средние, организации по производству мебели и торгового оборудования.
                        (производственники)
                    </li>
                </ol>
                <p><strong>Возможности нашего сервиса: </strong></p>
                <ul class="mdash">
                    <li>найти и заказать через нас нужный товар в Китае с минимальной предоплатой (от 5%)</li>
                    <li>зарезервировать товар, который уже плывет в контейнере в ближайший терминал (через порты СПб)
                    </li>
                    <li>помочь растаможить пришедший груз, через своего или вашего таможенного брокера.</li>
                    <li>оплатить товар китайскому продавцу за Вас</li>
                    <li>доставить товар в любой регион РФ (у нас есть свой автопарк, фото машин)</li>
                    <li>и т.д.</li>
                </ul>
                <p><strong>Плюсы работы с нашей компанией: </strong></p>
                <ul class="mdash">
                    <li>наши цены ниже рыночных, за счёт отсутствия складских издержек.</li>
                    <li>вы всегда можете заказать образец интересующего вас товара (образец доставляеться за наш счет)
                    </li>
                    <li>мы используем только хорошо проветриваемые складские помещения (фотографии склада)</li>
                    <li>высоквалифицированный англоязычный персонал с опытом работы не менее 3х лет на рынке мебельной
                        фурнитуры.
                    </li>
                    <li>мы можем оплатить ваши товары в Китае через свои дочерние фирмы в Сингапуре и Эстонии</li>
                    <li>для большей безопастности на загрузке товара в китае и выгрузке его на вашем складе присутствует
                        нам специалист
                    </li>
                    <li>доставка товара под заказ, с учетом</li>
                    <li>контроль сроков выполнения заказа</li>
                </ul>
                <p><strong>Какие опасности могут возникнуть, если вы начнёте работать с Китаем через сомнительную
                    фмрмы: </strong></p>
                <ul class="mdash">
                    <li>китайский поставщик может пропасть с вашими деньгами</li>
                    <li>поставка в адрес покупателя бракованного товара</li>
                    <li>высокая растаможка товара, а соответственно и высокая его себестоимость</li>
                </ul>
                <p class="doverie">&nbsp;</p>
            </div>
            <!--/ END #content -->
        </div>
        <!--/ END #wrapper -->
    </div>
    <!--/ END #wrap -->

    <!-- Footer -->
    <div id="footerWrap">
        <div id="footer">
            <div id="footlinks">
                <a href="about.html" title="">О компании</a>
                <a href="#" title="">Контакты</a>
                <a href="#" title="">Обратный звонок</a>
            </div>
            <div id="rights">
                © 2011 Furnita - компания занимающееся перевозкой труб в контейнерах<br/>Все авторские права защищены.
            </div>
        </div>
    </div>
    <!--/ END Footer -->

</div>
<!--/ END Container -->

</body>
</html>