<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta name="robots" content="noindex, nofollow"/>

    <title>Furnita</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>

    <!-- Round Corners for IE -->
    <script type="text/javascript" src="../js/ie/DD_roundies.js"></script>
    <!--[if IE ]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen,print"/>
    <script>
        DD_roundies.addRule('#currency', '20px');
    </script>
    <![endif]-->
</head>

<body>

<div id="container">
    <div id="wrap">

        <!-- Header -->
        <div id="header">
            <h1 class="logo"><a href="index.html" title="Furnita">Furnita</a></h1>

            <div id="slogan"></div>

            <div id="currency"><span>курс USD</span> <b>28.22</b> (−0.1407)</div>

            <div id="phone">
                <p>Москва<br/><span>+7 495 123-45-67</span></p>
                <p>Санкт-Петербург<br/><span>+7 812 123-45-67</span></p>
            </div>
            <div id="contact">
                <a href="#" title="">Обратный звонок</a>
                <a href="#" title="">Написать нам</a>
            </div>
        </div>
        <!--/ END Header -->

        <!-- Main Menu  -->
        <div id="main_menu">
            <ul>
                <li><a href="about.html">О компании</a></li>
                <li><a href="index.html">Наш каталог</a></li>
                <li><a href="dealers.html">Наши поставщики</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <!--/ END Main Menu -->

        <!-- Banners -->
        <div id="banners">
            <p>Спецпредложение - купите этот товар прямо сейчас по самым низким ценам.</p>
            <a href="#" title="" class="banner b1"></a>
            <a href="#" title="" class="banner b2"></a>
            <a href="#" title="" class="banner b3"></a>
        </div>
        <!--/ END Banners -->


        <div id="wrapper">

            <div id="content">

                <div id="breadcrumbs"><a href="#">Главная</a> » <span class="current">Наш каталог</span></div>

                <p>На данный момент наш ассортимент составляет 16 позиций, это те позиции, которые мы возим для наших
                    клиентов. Сюда может добавиться любая позиция на ваш выбор и возиться она будет исключительно для
                    вас.</p>

                <!-- Catalog -->
                <table class="catalog">
                    <tr>
                        <th>№</th>
                        <th>артикул<br/>
                            товара
                        </th>
                        <th>описание</th>
                        <th>кол-во<br/>
                            в упаковке
                        </th>
                        <th>ед.<br/>
                            изм
                        </th>
                        <th>кол-во<br/>
                            упаковок
                        </th>
                        <th>вес нетто <br/>
                            1 уп., кг
                        </th>
                        <th>вес брутто<br/>
                            1 уп., кг
                        </th>
                        <th>вес нетто <br/>
                            1 шт., кг
                        </th>
                        <th>вес брутто<br/>
                            1 шт., кг
                        </th>
                        <th>заявка на<br/>
                            образец
                        </th>
                    </tr>
                    <tr class="odd">
                        <td>1</td>
                        <td>100011</td>
                        <td>Труба D25x0,<br/>
                            8x3000 мм хром
                        </td>
                        <td>150</td>
                        <td>шт</td>
                        <td>1200</td>
                        <td>2000</td>
                        <td>2300</td>
                        <td>850</td>
                        <td>92</td>
                        <td><img src="img/cross.gif" alt=""/></td>
                    </tr>
                    <tr class="even">
                        <td>2</td>
                        <td>264647</td>
                        <td>32*2,5*6500</td>
                        <td>330</td>
                        <td>шт</td>
                        <td>2000</td>
                        <td>1500</td>
                        <td>1500</td>
                        <td>1500</td>
                        <td>120</td>
                        <td><img src="img/cross.gif" alt=""/></td>
                    </tr>
                    <tr class="odd">
                        <td>3</td>
                        <td>165893</td>
                        <td>25*0,8*3000</td>
                        <td>220</td>
                        <td>шт</td>
                        <td>800</td>
                        <td>205</td>
                        <td>3000</td>
                        <td>3000</td>
                        <td>150</td>
                        <td><img src="img/cross.gif" alt=""/></td>
                    </tr>
                    <tr class="even">
                        <td>4</td>
                        <td>564789</td>
                        <td>32*2,5*6500</td>
                        <td>850</td>
                        <td>шт</td>
                        <td>3520</td>
                        <td>125</td>
                        <td>2600</td>
                        <td>2600</td>
                        <td>85</td>
                        <td><img src="img/cross.gif" alt=""/></td>
                    </tr>
                    <tr class="odd last">
                        <td>5</td>
                        <td>451223</td>
                        <td>25*0,8*3000</td>
                        <td>180</td>
                        <td>шт</td>
                        <td>810</td>
                        <td>850</td>
                        <td>1700</td>
                        <td>1700</td>
                        <td>130</td>
                        <td><img src="img/cross.gif" alt=""/></td>
                    </tr>
                </table>
                <!--/ END Catalog -->

            </div>
            <!--/ END #content -->
        </div>
        <!--/ END #wrapper -->
    </div>
    <!--/ END #wrap -->


    <!-- Footer -->
    <div id="footerWrap">
        <div id="footer">
            <div id="footlinks">
                <a href="about.html" title="">О компании</a>
                <a href="#" title="">Контакты</a>
                <a href="#" title="">Обратный звонок</a>
            </div>
            <div id="rights">
                © 2011 Furnita - компания занимающееся перевозкой труб в контейнерах<br/>Все авторские права защищены.
            </div>
        </div>
    </div>
    <!--/ END Footer -->

</div>
<!--/ END Container -->

</body>
</html>