<!DOCTYPE html>
<html>
<head>
    <title>Yakabinetko</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="robots" content="noindex, nofollow"/>

    <!-- JQuery -->
    <script src="../js/jquery-1.8.3.min.js"></script>

    <!-- HTML5 -->
    <script src="../js/html5.js"></script>

    <!-- Round Corners for IE -->
    <script src="../js/DD_roundies.js"></script>

    <!--[if IE ]>
    <script>
        DD_roundies.addRule('.jcarousel-container, .block', '10px');
    </script>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="../js/prettyphoto/css/prettyPhoto.css">
    <script src="../js/prettyphoto/js/jquery.prettyPhoto.js"></script>

    <!-- JCarousel -->
    <script src="../js/jcarousel/jquery.jcarousel.pack.js"></script>
    <script src="../js/jcarousel/jquery.jcarousel.setup.js"></script>

    <script src="js/scripts.js"></script>

</head>

<body>

<div id="container">
    <div id="outer">

        <!-- Header -->
        <header>
            <a href="#" class="logo" title="Йакобенедко"></a>

            <div class="buyButs">
                <div class="inn">
                    <a href="#" class="order" title="Заказ">Заказ<b>Заказ</b></a>
                    <a href="#" class="demo" title="Демо">Демо<b>Демо</b></a>
                </div>
            </div>
        </header>
        <!--/ END Header -->

        <div id="wrapper">

            <article id="content">

                <!-- Clients -->
                <section class="clients">
                    <h2>Наш кабинет выбрали</h2>
                    <div id="clients">
                        <ul class="jcarousel-skin-tango" style="width:690px;">
                            <li class="cl1"><a href="#" title="DeathSide"></a></li>
                            <li class="cl2"><a href="#" title="Izbooshka"></a></li>
                            <li class="cl3"><a href="#" title="InPVP"></a></li>
                            <li class="cl4"><a href="#" title="WOW Come Free"></a></li>
                            <li class="cl1"><a href="#" title="DeathSide"></a></li>
                        </ul>
                        <div class="jcarousel-prev"><b></b></div>
                        <div class="jcarousel-next"><b></b></div>
                    </div>
                </section>
                <!--/ END Clients -->

                <div class="hr"></div>

                <!-- Features -->
                <section class="features">
                    <h1>Особенности</h1>

                    <article class="block characters">
                        <div class="text">
                            <h2>Управление персонажами</h2>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede.Try it now...</p>
                        </div>
                        <a href="img/img1.jpg" data-rel="prettyPhoto[img]" title="">
                            <img src="img/img1.jpg" alt=""/>
                        </a>
                    </article>

                    <article class="block shop">
                        <div class="text">
                            <h2>Магазин</h2>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede.Try it now...</p>
                        </div>
                        <a href="img/img2.jpg" data-rel="prettyPhoto[img]" title="">
                            <img src="img/img2.jpg" alt=""/>
                        </a>
                    </article>

                    <article class="block balance">
                        <div class="text">
                            <h2>Пополнение счёта</h2>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede.Try it now...</p>
                        </div>
                        <a href="img/img3.jpg" data-rel="prettyPhoto[img]" title="">
                            <img src="img/img3.jpg" alt=""/>
                        </a>
                    </article>

                    <article class="block account">
                        <div class="text">
                            <h2>Управление аккаунтом</h2>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede.Try it now...</p>
                        </div>
                        <a href="img/img4.jpg" data-rel="prettyPhoto[img]" title="">
                            <img src="img/img4.jpg" alt=""/>
                        </a>
                    </article>
                </section>
                <!--/ END Features -->

                <div class="hr"></div>

                <!-- Payment -->
                <section class="payment">
                    <h2>Платежные системы</h2>

                    <div id="payment">
                        <ul class="jcarousel-skin-tango">
                            <li class="pl1"><a href="#" title="Robokassa"></a></li>
                            <li class="pl2"><a href="#" title="Sprypay"></a></li>
                            <li class="pl3"><a href="#" title="Интеркасса"></a></li>
                            <li class="pl4"><a href="#" title="A'pay"></a></li>
                        </ul>
                        <div class="jcarousel-prev"><b></b></div>
                        <div class="jcarousel-next"><b></b></div>
                    </div>
                </section>
                <!--/ END Payment -->

                <div class="hr"></div>

                <!-- Future Functions -->
                <section class="future">
                    <h2>Запланированные функции</h2>

                    <div class="function f1">
                        <h3>Смена имени</h3>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                            eros. Malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere
                            a, pede.Try it now...</p>
                    </div>
                    <div class="function f2">
                        <h3>Смена имени</h3>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                            eros. Malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere
                            a, pede.Try it now...</p>
                    </div>
                    <div class="function f3">
                        <h3>Смена имени</h3>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                            eros. Malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere
                            a, pede.Try it now...</p>
                    </div>
                </section>
                <!--/ END Future Functions -->

                <div class="hr"></div>

                <!-- Functional -->
                <section class="functional">
                    <h2>Функционал на разных версиях</h2>
                    <table>
                        <tr>
                            <th class="title">Функция \ версия</th>
                            <th>2.X</th>
                            <th>3.X</th>
                            <th>4.X</th>
                        </tr>
                        <tr class="odd">
                            <td class="title">Смена имени</td>
                            <td class="dark"><img src="img/cross.png" alt=""/></td>
                            <td><img src="img/cross.png" alt=""/></td>
                            <td class="dark"><img src="img/cross.png" alt=""/></td>
                        </tr>
                        <tr class="even">
                            <td class="title">Смена внешности</td>
                            <td class="dark"><img src="img/checkYellow.png" alt=""/><br/>высылается уведомление
                                администратору
                            </td>
                            <td><img src="img/checkYellow.png" alt=""/><br/>высылается уведомление администратору
                            </td>
                            <td class="dark"><img src="img/checkYellow.png" alt=""/><br/>высылается уведомление
                                администратору
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="title">Смена расы</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                        </tr>
                        <tr class="even">
                            <td class="title">Смена фракции</td>
                            <td class="dark"><img src="img/cross.png" alt=""/><br/>требует патч на ядро</td>
                            <td><img src="img/cross.png" alt=""/><br/>требует патч на ядро</td>
                            <td class="dark"><img src="img/cross.png" alt=""/><br/>требует патч на ядро</td>
                        </tr>
                        <tr class="odd">
                            <td class="title">Портирование в таверну</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                        </tr>
                        <tr class="even">
                            <td class="title">Восстановление персонажа</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                        </tr>
                        <tr class="odd">
                            <td class="title">Магазин</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                            <td class="dark"><img src="img/checkGreen.png" alt=""/><br/>требует патч на ядро</td>
                        </tr>
                    </table>
                </section>
                <!--/ END Functional -->

                <div class="hr"></div>

                <div class="butOrder">
                    <button type="button"><b></b></button>
                </div>


            </article>

        </div>
        <!--/ END #wrapper -->
    </div>
    <!--/ END #outer -->

</div>
<!--/ END #container -->
<div id="headBack"></div>

</body>
</html>