<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
    <title>Альянс</title>
    <meta name="robots" content="noindex, nofollow"/>

    <link href='css/fonts.css' rel='stylesheet'>
    <link href="../js/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../js/bootstrap/non-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="../js/fancybox/jquery.fancybox.css" rel="stylesheet" media="screen" />

    <!--[if lt IE 9]>
    <link href="css/ie.css" rel="stylesheet">
    <script src="../js/ie/html5.js"></script>
    <script src="../js/ie/respond.min.js"></script>
    <![endif]-->

    <script src="../js/jquery/jquery-1.8.3.min.js"></script>
    <script src="../js/ui/jquery-ui-1.10.3.min.js"></script>

</head>
<body>
<div id="wrap">
    <div class="container">
        <div class="page-header">
            <div class="calc">
                <a href="#" title="">Кредитный калькулятор</a>

                <p>Быстрый и удобный способ рассчитать кредитную ставку</p>
            </div>
            <a href="/" class="logo"></a>

            <div class="address">
                <p class="phone">+7 (812) 123-45-67</p>
                <p class="phone">+7 (812) 123-45-67</p>

                <p>Санкт-Петербург, Новая ул., 4515</p>
            </div>
        </div>

        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="first">
                    <a href="#" title="О компании" >О компании</a>
                </li>
                <li>
                    <a href="#" title="Услуги" >Услуги</a>
                </li>
                <li>
                    <a href="#" title="Калькулятор" >Калькулятор</a>
                </li>
                <li>
                    <a href="#" title="Форма заявки" >Форма заявки</a>
                </li>
                <li>
                    <a href="#" title="Статьи" >Статьи</a>
                </li>
                <li class="last">
                    <a href="#" title="Контакты" >Контакты</a>
                </li>
            </ul>
        </div>

        <div class="page-header">
            <p class="slogan">Компания ООО «Альянс» работает на рынке на основании Федерального Закона «О
                микрофинансовой деятельности и микрофинансовых организаций». Мы предоставляем кредиты под
                залог недвижимости и оказываем ряд юридических услуг по правовому сопровождению сделок.
            </p>
        </div>
        <!-- Carousel
              ================================================== -->
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/slide1.jpg" alt="First slide">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Займ до продажи</h1>

                            <div class="text">
                                <p>Кредит на время продажи квартиры, комнаты или коммерческого помещения позволит вам
                                    ждать покупателя столько, сколько нужно не снижая установленную цену.</p>
                            </div>
                            <p><a class="btn btn-large" href="#">Узнать больше</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slide2.jpg" alt="Second slide">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Займ до продажи</h1>

                            <div class="text">
                                <p>Кредит на время продажи квартиры, комнаты или коммерческого помещения позволит вам
                                    ждать покупателя столько, сколько нужно не снижая установленную цену.</p>
                            </div>
                            <p><a class="btn btn-large" href="#">Узнать больше</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slide3.jpg" alt="Third slide">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Займ до продажи</h1>

                            <div class="text">
                                <p>Кредит на время продажи квартиры, комнаты или коммерческого помещения позволит вам
                                    ждать покупателя столько, сколько нужно не снижая установленную цену.</p>
                            </div>
                            <p><a class="btn btn-large" href="#">Узнать больше</a></p>
                        </div>
                    </div>
                </div>
            </div>


            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
        </div>
        <!-- /.carousel -->
        <div id="content">
            <!-- Three columns of text below the carousel -->
            <div class="row marketing">
                <div class="col-lg-4">
                    <div class="cap-block bubble">
                        <p>Суммы до 1 миллиона рублей</p>

                        <p>На срок от 1 дня до 5 лет</p>

                        <p>Под 3-4%</p>
                    </div>
                    <div class="desc">
                        <h2>Деньги в Аренду</h2>

                        <p>Мы предлагаем деньги в аренду без сложных процентных начислений на срок от 1 дня до 5 лет в
                            размере от 1 рубля до 3 миллионов рублей. Вы платите только проценты за пользование деньгами.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cap-block">
                        <img src="img/main_blocks_img.jpg" alt="Разумнее чем в банке">
                    </div>
                    <div class="desc">
                        <h2>Разумнее чем в банке</h2>

                        <p>Ясная и прозрачная схема погашения.
                            Для наших клиентов предусмотрена только ежемесячная выплата процентов, зависящая от величины
                            кредита.
                        </p>

                        <p>Для рассмотрения заявки вам не потребуется внушительный банковский пакет документов.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble">
                        <p>Одобрение заявки за 15 минут</p>

                        <p>Минимальный пакет документов</p>

                        <p>Удобство и прозрачность сделки</p>

                        <p>На недвижимость накладывается только обременение</p>
                    </div>
                    <div class="desc">
                        <h2>Быстро и удобно</h2>

                        <p>Это выгодно отличает нашу работу от сложных схем взаимодействия с банковскими системами. Банк
                            обязует вас не только выплачивать высокие проценты за пользование денежными средствами, но и
                            ежемесячно погашать задолженность по кредиту.</p>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->


            <!-- THE FEATURES -->
            <div class="row featurette">
                <div class="col-md-8">
                    <h2>Безопасность</h2>

                    <p>С каждым клиентом ООО "Альянс" заключает Договор Займа с оформлением залога.<br />
                        Залогом может выступать любой объект недвижимости с сохранением вашего права собственности. Это
                        лишает Вас каких-либо рисков при соблюдении условий договора и выплате суммы займа в соответствии с
                        ним. </p>

                    <p>При выплате Вами только процентов договор может быть продлен на любой срок. Это означает, что вы
                        можете сколь угодно долго арендовать выданную вам сумму без риска для вашего объекта недвижимости при
                        выплате процентных отчислений</p>
                </div>
                <div class="col-md-4">
                    <h2>Объект недвижимости выступает гарантом исполнений Вами обязательств по договору.</h2>
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-12">
                    <h2>Юридическая компетентность</h2>

                    <div class="grad">
                        <p>Мы оказываем услуги по следующим направлениям</p>

                        <p><a href="#" class="btn btn-default btn-shadow" title=""><span>Кредитование под залог
                                                                                   недвижимости</span></a></p>

                        <p><a href="#" class="btn btn-default btn-shadow" title=""><span>Кредитование до продажи объекта
                                                                            недвижимости на льготных условиях</span></a>
                        </p>

                        <div class="shadow"></div>
                    </div>


                    <p>ООО «Альянс» — профессиональная организация и надежный партнер на финансовом рынке.<br>
                        Высокая юридическая компетентность, позволяет нам сопровождать самые сложные сделки с недвижимостью —
                        выгодно и безопасно для нашего клиента.<br />
                        Основа нашей деятельности — высокопрофессиональный штат сотрудников с необходимыми навыками,
                        квалификацией и опытом работы более 10 лет. Накопленные знания и правовая поддержка позволяют нам
                        предлагать клиентам максимально выгодные схемы сотрудничества. Наши отправные точки — это
                        компетентность, надежность и профессиональная этика</p>
                </div>
            </div>
            <!-- /END THE FEATURETTES -->
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p><strong>Наша компания в социальных сетях</strong></p>

        <div class="social">
            <a class="soc_icon fb" title="Альянс на Фейсбуке" href="#"></a>
            <a class="soc_icon vk" title="Альянс вКонтакте" href="#"></a>
            <a class="soc_icon tw" title="Альянс на Твиттере" href="#"></a>
            <a class="soc_icon yb" title=" Альянс на Youtube" href="#"></a>
            <a class="soc_icon lj" title="Альянс в Живом Журнале" href="#"></a>
        </div>

        <p>&copy; 2007-2014 Группа компаний «Альянс» — Кредит под залог в Санкт-Петербурге.</p>

        <p>Копирование материалов с сайта запрещено.</p>

        <p>Санкт-Петербург, Новая ул., 1375<br/>
            тел. +7 (812) 123-45-67, 123-45-67, с 10 до 19 ч.<br/>
            Skype: <a href="#" title="Написать в скайпе">skype</a></p>
    </div>
</footer>

<script src="../js/bootstrap/bootstrap-3.0.0.min.js"></script>
<script src="../js/fancybox/jquery.fancybox.pack.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>