<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>
    <meta name="robots" content="noindex, nofollow"/>

    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-1.6.1.min.js"></script>

    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen,print"/>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(".cusel").each(
                    function () {
                        var w = parseInt(jQuery(this).width()),
                                scrollPanel = jQuery(this).find(".cusel-scroll-pane");
                        if (w >= scrollPanel.width()) {
                            jQuery(this).find(".jScrollPaneContainer").width(w);
                            scrollPanel.width(w);
                        }
                    });
        });
    </script>
    <![endif]-->

    <!--[if IE 7 ]>
    <link rel="stylesheet" type="text/css" href="css/ie7.css" media="screen,print"/>
    <script>
        DD_roundies.addRule('.item, #slidesWrap li img', '8px');
        DD_roundies.addRule('#main_menu ul li a:hover, #main_menu li a.active, #main_menu li a.active:hover, .searchText, #socIcons', '5px');
        DD_roundies.addRule('#icons', '0 3px 3px 0');
    </script>
    <![endif]-->

    <!--[if IE 8 ]>
    <link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen,print"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="../js/html5.js"></script>
    <script type="text/javascript" src="../js/IE9.js"></script>
    <script type="text/javascript" src="../js/DD_roundies.js"></script>
    <![endif]-->

    <!-- Select https://github.com/fetis/cusel -->
    <script type="text/javascript" src="../js/cusel-min-2.4.1.js"></script>

    <!-- Left Gallery http://sorgalla.com/jcarousel -->
    <script type="text/javascript" src="../js/jcarousel/jquery.jcarousel.min.js"></script>

    <!-- Top Gallery http://dev7studios.com/plugins/caroufredsel -->
    <script type="text/javascript" src="../js/caroufredsel/jquery.carouFredSel-6.2.1-packed.js"></script>

    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>

<div id="container">
<div id="wrap">

<div id="wrapper">

<!-- Header -->
<div id="header">
    <h1><a href="#" class="logo" title=""><span>Галерея эксклюзивных изданий</span> в коллекционных переплётах</a></h1>

    <div class="phone"><span>+7 495</span> <i>411-68-86</i> <span>+7 495</span> <i>411-50-74</i></div>
</div>
<!--/ END Header -->

<!-- Main Menu -->
<div id="main_menu">
    <ul>
        <li><a href="index.html" class="active">Главная страница</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="catalog.html">Каталог</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">О технологии</a></li>
        <li><a href="#">Корпоративные заказы</a></li>
    </ul>

    <div id="search">
        <input class="searchText" type="text" value="Поиск по сайту"
               onfocus="if (this.value == 'Поиск по сайту') {this.value = '';}"
               onblur="if (this.value == '') {this.value ='Поиск по сайту';}"/>
        <input class="searchBut" type="submit" value="" title="Поиск"/>
    </div>

    <!--[if IE ]>
    <div class="leftCorn"></div>
    <div class="rightCorn"></div>
    <![endif]-->
</div>
<!--/ END Main Menu -->

<div id="contentWrap">
    <div id="content">

        <!-- slidesWrap -->
        <div id="slidesWrap">
            <div id="slidesWidth">
                <ul id="topSlides">
                    <li>
                        <img src="img/image1.png" alt=""/>

                        <div class="slidePrise">6200 руб.</div>
                        <div class="slideTitle"><a href="#" title="">История Российского государства</a></div>
                    </li>
                    <li>
                        <img src="img/image2.png" alt=""/>

                        <div class="slidePrise">5900 руб.</div>
                        <div class="slideTitle"><a href="#" title="">Великие мысли великих людей</a></div>
                    </li>
                    <li>
                        <img src="img/image3.png" alt=""/>

                        <div class="slidePrise">7990 руб.</div>
                        <div class="slideTitle"><a href="#" title="">Мудрость большого бизнеса</a></div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div id="pager" class="pager"></div>
            </div>
        </div>
        <!--/ END slidesWrap -->

        <!-- socIcons -->
        <div id="socIcons">
            <p>Добавить в закладки и поделиться:</p>

            <div id="icons">
                <a href="#" title="vKontakte" class="socBut vk"></a>
                <a href="#" title="Twitter" class="socBut twit"></a>
                <a href="#" title="Facebook" class="socBut fcb"></a>
                <a href="#" title="LiveJournal" class="socBut lj"></a>
                <a href="#" title="Onoklassniki" class="socBut odnkl"></a>
            </div>
            <div class="leftCorn"></div>
            <div class="rightCorn"></div>
        </div>
        <!--/ END socIcons -->


        <!-- Items -->
        <div id="items">

            <div class="item">
                <div class="itemPhoto">
                    <a href="#" title="Кодекс Руководителя. Власть. Бизнес. Финансы."><img src="img/book1.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Кодекс Руководителя. Власть. Бизнес. Финансы.</a>

                    <p class="Idecs">составной переплет,каптал и ляссе из натурального шелка</p>

                    <p class="itemPrice">6200 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>

            <div class="item">
                <div class="itemPhoto">
                    <a href="#" title="Великие мысли великих людей"><img src="img/book2.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Великие мысли великих людей</a>

                    <p class="Idecs">Составитель А.П. Кондрашов</p>

                    <p class="itemPrice">5900 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>

            <div class="item last">
                <div class="itemPhoto">
                    <a href="#" title="Политика мудрого"><img src="img/book3.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Политика мудрого</a>

                    <p class="Idecs">К. Экартсгаузен, Л. Н. Толстой, Р. Грин (золотой обрез)</p>

                    <p class="itemPrice">5960 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>


            <div class="item">
                <div class="itemPhoto">
                    <a href="#" title="Толковый словарь живого великорусского языка"><img src="img/book4.png"
                                                                                          alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Толковый словарь живого великорусского языка</a>

                    <p class="Idecs">В. И. Даль (золотой обрез, ляссе и каптал из шелка)</p>

                    <p class="itemPrice">10800 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>

            <div class="item">
                <div class="itemPhoto">
                    <a href="#" title="Мудрость большого бизнеса"><img src="img/book5.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Мудрость большого бизнеса</a>

                    <p class="Idecs">(тираж 100 пронумерованных экз.)</p>

                    <p class="itemPrice">7990 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>

            <div class="item last">
                <div class="itemPhoto">
                    <a href="#" title="Русская рыбалка и охота"><img src="img/book6.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Русская рыбалка и охота</a>

                    <p class="Idecs">(тираж 100 пронумерованных экз. переплетена вручную)</p>

                    <p class="itemPrice">8930 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>


            <div class="item">
                <div class="itemPhoto">
                    <a href="#" title="Кодекс Руководителя. Власть. Бизнес. Финансы."><img src="img/book1.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Кодекс Руководителя. Власть. Бизнес. Финансы.</a>

                    <p class="Idecs">составной переплет,каптал и ляссе из натурального шелка</p>

                    <p class="itemPrice">6200 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>

            <div class="item">
                <div class="itemPhoto">
                    <a href="#" title="Великие мысли великих людей"><img src="img/book2.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Великие мысли великих людей</a>

                    <p class="Idecs">Составитель А.П. Кондрашов</p>

                    <p class="itemPrice">5900 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>

            <div class="item last">
                <div class="itemPhoto">
                    <a href="#" title="Политика мудрого"><img src="img/book3.png" alt=""/></a>
                </div>
                <div class="itemDesc">
                    <a href="#" title="" class="itemName">Политика мудрого</a>

                    <p class="Idecs">К. Экартсгаузен, Л. Н. Толстой, Р. Грин (золотой обрез)</p>

                    <p class="itemPrice">5960 руб.</p>
                    <a href="#" class="more" title="Подробнее">Подробнее</a>
                </div>
            </div>

        </div>
        <!--/ END Items -->


    </div>
    <!--/ END Content -->
</div>
<!--/ END ContentWrap -->

<div id="left">

<!-- bookSelect -->
<div class="block bookSelect">
    <div class="title">Подбор книги</div>

    <form action="#" name="bookSelect">
        <div class="formRow">
            <label for="who">Кому книга?</label>
            <select class="sel80" name="who" id="who" tabindex="1">
                <option value=""></option>
                <option value="1">Опция 1</option>
                <option value="2">Опция 2</option>
                <option value="3">Опция 3</option>
                <option value="4">Опция 4</option>
                <option value="5">Опция 5</option>
                <option value="6">Опция 6</option>
                <option value="7">Опция 7</option>
                <option value="8">Опция 8</option>
            </select>
        </div>
        <div class="formRow">
            <label for="genre">Жанр, интересы?</label>
            <select name="genre" id="genre">
                <option value=""></option>
                <option value="1">Опция 1</option>
                <option value="2">Опция 2</option>
                <option value="3">Опция 3</option>
                <option value="4">Опция 4</option>
                <option value="5">Опция 5</option>
                <option value="6">Опция 6</option>
                <option value="7">Опция 7</option>
                <option value="8">Опция 8</option>
            </select>
        </div>
        <div class="formRow">
            <label for="howmuch">Сколько должна стоить?</label>
            <select name="howmuch" id="howmuch">
                <option value=""></option>
                <option value="1">Опция 1</option>
                <option value="2">Опция 2</option>
                <option value="3">Опция 3</option>
                <option value="4">Опция 4</option>
                <option value="5">Опция 5</option>
                <option value="6">Опция 6</option>
                <option value="7">Опция 7</option>
                <option value="8">Опция 8</option>
            </select>
        </div>
        <div class="formRow">
            <label for="event">По какому случаю?</label>
            <select name="event" id="event">
                <option value=""></option>
                <option value="1">Опция 1</option>
                <option value="2">Опция 2</option>
                <option value="3">Опция 3</option>
                <option value="4">Опция 4</option>
                <option value="5">Опция 5</option>
                <option value="6">Опция 6</option>
                <option value="7">Опция 7</option>
                <option value="8">Опция 8</option>
            </select>
        </div>
        <div class="formRow">
            <label for="section">Раздел?</label>
            <select name="section" id="section">
                <option value=""></option>
                <option value="1">Опция 1</option>
                <option value="2">Опция 2</option>
                <option value="3">Опция 3</option>
                <option value="4">Опция 4</option>
                <option value="5">Опция 5</option>
                <option value="6">Опция 6</option>
                <option value="7">Опция 7</option>
                <option value="8">Опция 8</option>
            </select>
        </div>
        <div class="butBrownR"><input class="butBrown" type="submit" value="Подобрать"/></div>
    </form>
    <!--[if IE ]>
    <div class="bottom"></div><![endif]-->

</div>
<!--/ END bookSelect -->

<!-- leftMenu -->
<div class=" block leftMenu">
    <div class="title">Каталог книг</div>
    <ul>
        <li><a href="#">Афоризмы</a></li>
        <li><a href="#">Армия, Флот, Спецслужбы</a></li>
        <li><a href="#">Архитектура</a></li>
        <li><a href="#">Власть, Бизнес, Политика</a></li>
        <li><a href="#">Вино, Коньяк, Сигары</a></li>
        <li><a href="#">Великие художники</a></li>
        <li><a href="#">Города России</a></li>
        <li><a href="#">Города и страны мира</a></li>
        <li><a href="#">Зарубежная классика</a></li>
        <li><a href="#">Искуство, Культура</a></li>
        <li><a href="#">История России</a></li>
        <li><a href="#">Оружие</a></li>
        <li><a href="#">Поэзия</a></li>
    </ul>
    <!--[if IE ]>
    <div class="bottom"></div>
    <![endif]-->
</div>
<!--/ END leftMenu -->

<!-- Vertical Carousel -->
<div class="block vertScroller">
    <div class="title">TOP-10</div>

    <!--[if IE ]>
    <div class="bottom"></div>
    <![endif]-->
    <ol id="vertical-carousel" class="jcarousel-skin-tango">
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book1.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Кодекс Руководителя. Власть. Бизнес. Финансы.</a>
                    <span class="price">6200 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book2.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Великие мысли великих людей</a>
                    <span class="price">5900 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book3.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Политика мудрого</a>
                    <span class="price">5960 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book4.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Толковый словарь живого великорусского языка</a>
                    <span class="price">10800 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book5.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Мудрость большого бизнеса</a>
                    <span class="price">7990 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book1.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Кодекс Руководителя. Власть. Бизнес. Финансы.</a>
                    <span class="price">6200 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book2.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Великие мысли великих людей</a>
                    <span class="price">5900 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book3.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Политика мудрого</a>
                    <span class="price">5960 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book4.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Толковый словарь живого великорусского языка</a>
                    <span class="price">10800 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book5.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Мудрость большого бизнеса</a>
                    <span class="price">7990 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book1.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Кодекс Руководителя. Власть. Бизнес. Финансы.</a>
                    <span class="price">6200 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book2.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Великие мысли великих людей</a>
                    <span class="price">5900 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book3.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Политика мудрого</a>
                    <span class="price">5960 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book4.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Толковый словарь живого великорусского языка</a>
                    <span class="price">10800 руб.</span>
                </span>
            </span></li>
        <li><span>
            	<a href="#" title="" class="bookImg"><img src="img/top10Book5.gif" alt=""/></a>
                <span class="bookInfo">
                    <a href="#" title="" class="bookName">Мудрость большого бизнеса</a>
                    <span class="price">7990 руб.</span>
                </span>
            </span></li>

    </ol>
</div>
<!--/ END Vertical Carousel -->

<div class="banner"><a href="#" title=""><img src="img/banner.png" alt=""/></a></div>

</div>
<!--/ END Left -->

</div>
<!--/ END Wrapper -->

</div>
<!--/ END Wrap -->


<!-- footerWrap -->
<div id="footerWrap">
    <!-- Footer -->
    <div id="footer">
        <div id="rights">
            <p>© Эксмо, 2011. Лицензия № 46097</p>

            <p>E-mail: info@eksmo.ru</p>
        </div>
        <div id="links">
            <a href="#" title="">Главная страница</a> /
            <a href="#" title="">Отзывы</a> /
            <a href="#" title="">Каталог</a> /
            <a href="#" title="">Контакты</a> /
            <a href="#" title="">О технологии</a> /
            <a href="#" title="">Корпоративные заказы</a>
        </div>
    </div>
    <!--/ END Footer -->
</div>
<!--/ END footerWrap -->

</div>
<!--/ END Container -->

</body>
</html>