<!DOCTYPE html>
<html>
<head>
    <title>Event Industry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="css/style.css">

    <!-- JQuery -->
    <script src="../js/jquery/jquery-1.3.2.min.js"></script>

    <!-- Round Corners for IE -->
    <script src="../js/ie/DD_roundies.js"></script>
    <!--[if IE ]>
    <link rel="stylesheet" type="text/css" href="css/ie.css">
    <script>
        DD_roundies.addRule('.rounded', '10px');
    </script>
    <![endif]-->

    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="../js/prettyphoto/css/prettyPhoto.css">
    <script src="../js/prettyphoto/js/jquery.prettyPhoto.js"></script>

    <!-- HTML5 -->
    <script src="../js/ie/html5.js"></script>
</head>

<body>

<div id="container">
    <div id="outer">

        <header>
            <div id="line1"></div>
            <div id="line2"></div>
            <a href="#" class="logo" title=""></a>

            <div id="topLinks">
                <a href="#" title="В избранное">В избранное</a>
                <a href="#" title="Карта сайта" class="orange">Карта сайта</a>
                <a href="#" title="Обратная связь" class="last">Обратная связь</a>
            </div>

            <div id="login">
                <a href="#" title="Личный кабинет">Личный кабинет</a>
                <a href="#" title="Регистрация" class="last">Регистрация</a>
            </div>

            <div id="address">
                <p>Москва<br/>Красная Пресня, 18</p>

                <p class="phone">7 (495) 255-3587</p>
            </div>

            <div id="search">
                <a href="#" title="Расширенный поиск">Расширенный поиск</a>
                <input type="text"/><input type="submit" value=""/>

                <div id="select"></div>
            </div>

        </header>

        <nav>
            <ul>
                <li><a href="#" class="active"><span>EVENT INDUSTRY</span></a></li>
                <li><a href="#"><span>О проекте</span></a></li>
                <li><a href="#"><span>О проекте</span></a></li>
                <li><a href="#"><span>Правовая информация</span></a></li>
                <li><a href="#"><span>Партнеры</span></a></li>
            </ul>
            <div class="corn left"></div>
            <div class="corn right"></div>
        </nav>


        <div id="wrapper">

            <article>

                <div id="video">
                    <img src="img/video.jpg" alt=""/>

                    <p>Презентация проекта "Лазерное шоу на 7 высотках Москвы"</p>

                    <p>Режиссер:<br/>Иван Иванов</p>

                    <p>Музыка:<br/>Петр Петров</p>

                    <p>Оператор:<br/>Santa Cruz</p>

                    <p>Полная версия</p>
                    <a href="#" title="" class="youtube"></a>
                </div>

                <div id="content">
                    <h1>О Компании EVENT INDISTRY</h1>

                    <h3>Компания Event Industry предлагает</h3>

                    <p>Ивент (от англ. event — событие) — развлекательное или рекламное представление, осуществляемое на
                        театральной сцене, кино- или телеэкране, на спортивной или цирковой арене с использованием
                        разного рода сюжетных ходов, изобразительных приёмов, световой техники.</p>
                    <a href="#" title="Подробнее" class="more">Подробнее</a>
                </div>


            </article>

            <aside id="rightCol">

                <div id="menu">
                    <h3>Наши партнеры</h3>
                    <ul>
                        <li class="active"><a href="#" title="Гранд Отель">Гранд Отель</a></li>
                        <li><a href="#" title="Новотель">Новотель</a></li>
                        <li><a href="#" title="Парк Сокольники">Парк Сокольники</a></li>
                        <li><a href="#" title="ВВЦ">ВВЦ</a></li>
                        <li><a href="#" title="Пресс-холл">Пресс-холл</a></li>
                        <li><a href="#" title="Acrobat Design">Acrobat Design</a></li>
                    </ul>
                    <a href="#" title="Полный список" class="more">Полный список</a>
                </div>
                <!--/ menu -->

                <div id="news">
                    <h3>Новость дня</h3>

                    <div class="date">15 апреля 2012</div>
                    <div class="text">Ивент (от англ. event — событие) — развлекательное или рекламное представление,
                        осуществляемое...
                    </div>
                    <a href="#" title="Все новости" class="more">Все новости</a>
                </div>

            </aside>
        </div>
        <!--/ Wrapper -->

    </div>
    <!--/ #outer -->

    <div class="clearfooter"></div>
</div>
<!--/ #container -->

<footer>

    <div id="articles">
        <div class="footInn">
            <ul>
                <li><a href="#" class="active">Статьи и публикации</a></li>
                <li><a href="#">Статьи и публикации</a></li>
                <li><a href="#">Статьи и публикации</a></li>
            </ul>

            <div class="artcl">
                <div class="date">15 апр 2012</div>
                <h3>Организация мероприятий ко дню весны</h3>

                <div class="text">Ивент (от англ. event — событие) — развлекательное или рекламное представление,
                    осуществляемое...
                </div>
                <a href="#" title="Подробнее" class="more">Подробнее</a>
            </div>
            <div class="artcl">
                <div class="date">15 апр 2012</div>
                <h3>Организация мероприятий ко дню весны</h3>

                <div class="text">Ивент (от англ. event — событие) — развлекательное или рекламное представление,
                    осуществляемое...
                </div>
                <a href="#" title="Подробнее" class="more">Подробнее</a>
            </div>
            <div class="artcl last">
                <div class="date">15 апр 2012</div>
                <h3>Организация мероприятий ко дню весны</h3>

                <div class="text">Ивент (от англ. event — событие) — развлекательное или рекламное представление,
                    осуществляемое...
                </div>
                <a href="#" title="Подробнее" class="more">Подробнее</a>
            </div>

        </div>
    </div>

    <div id="banners">
        <div class="footInn">
            <a href="#" title="Banner 1"><img src="img/banner1.jpg" alt=""/></a>
            <a href="#" title="Banner 2"><img src="img/banner1.jpg" alt=""/></a>
            <a href="#" title="Banner 3"><img src="img/banner1.jpg" alt=""/></a>
        </div>
    </div>

    <div id="mainFoot">
        <div class="footInn">
            <div class="block">
                <h3>О компании</h3>
                <ul>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                </ul>
            </div>
            <div class="block">
                <h3>Вопросы</h3>
                <ul>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                </ul>
            </div>
            <div class="block">
                <h3>Форум</h3>
                <ul>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                </ul>
            </div>
            <div class="block">
                <h3>Материалы</h3>
                <ul>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                    <li><a href="#" title="Презентация">Презентация</a></li>
                </ul>
            </div>

            <div id="subscribe">
                <h3>Подписаться на новости</h3>

                <div class="form">
                    <label>Ваше имя:</label><input type="text"/>
                    <label>Ваш e-mail:</label><input type="text"/>
                    <input type="submit" value="Отправить"/>
                </div>

                <div id="socIcons">
                    <a href="#" class="icon n1" title="Vkontakte"></a>
                    <a href="#" class="icon n2" title="Facebook"></a>
                    <a href="#" class="icon n3" title="Twitter"></a>
                </div>
            </div>

        </div>
    </div>

</footer>

<!-- PrettyPhoto -->
<script type="text/javascript">
    $(document).ready(function () {
        $("a[rel^='photo']").prettyPhoto();
    });
</script>
</body>
</html>