<!DOCTYPE HTML>
<html>
<head>
    <title>IQ Karnaval</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="css/style.css" media="screen"/>
    <link rel="stylesheet" href="../js/prettyphoto/css/prettyPhoto.css" media="screen">

    <!-- JQuery -->
    <script src="../js/jquery/jquery-1.8.3.min.js"></script>

    <!-- Round Corners and PNG for IE -->
    <script src="../js/ie/DD_roundies.js"></script>
    <script src="../js/ie/DD_belatedPNG.js"></script>
    <!--[if IE ]>
    <link rel="stylesheet" href="css/ie.css" media="screen"/>
    <script>
        DD_roundies.addRule('.h2, .h2', '45px');
        DD_roundies.addRule('#pages ul li span', '13px');
        DD_roundies.addRule('ul.main_menu li.active', '10px');
        DD_roundies.addRule('.price', '90px');
        DD_belatedPNG.fix('ul.catalog_menu li');
    </script>
    <![endif]-->

    <!-- HTML5 -->
    <script src="../js/html5.js"></script>

    <!-- PrettyPhoto -->

    <script src="../js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>

    <!-- EnlargeIt -->
    <script type="text/javascript" src="../js/enlargeit/enlargeit.js"></script>

    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div id="wrap">
<div id="container_outer">

<div id="container">

    <div id="wrapper">

        <!-- #header -->
        <div id="header">

            <div class="logo"><a href="#" title="IQ Karnaval - Магазин карнавальных костюмов"></a></div>

            <div id="phone">+7 (812) 123-45-67</div>
            <div id="adr">Санкт-Петербург, ул. Мира, 123,<br/>Бизнес-центр «Европа», офис 000</div>

            <div id="kontakt">
                <div id="kontakt_button"></div>
                <a href="#" title="Зайти в группу магазина карнавальных костюмов" class="kontakt">Зайти в группу</a>
            </div>

        </div>
        <!--/ END #header -->

        <!-- Top Menu -->
        <ul class="main_menu">
            <li class="active"><span>Карнавальные костюмы</span></li>
            <li><a href="#">Прокат костюмов</a></li>
            <li><a href="#">Как купить костюм</a></li>
            <li><a href="#">Доставка костюмов</a></li>
            <li><a href="#">Заказать костюм</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <!--/ END Top Menu -->


        <div id="content">

            <div id="page_title">
                <h1 class="float_left">Карнавальные костюмы</h1>
            </div>

            <p>Магазин карнавальных костюмов «IQ Карнавал» находится в центре города N-ска, в двух минутах хо
                дьбы от станции метро и предлагает широкий ассортимент костюмов для взрослых и детей. Вы можете как
                просто купить карнавальный костюм, так и взять его напрокат. Кроме того, в продаже имеется значительное
                количество различных аксессуаров: парики, шляпы, перчатки, театральный грим и многое другое.</p>

            <p>В случае если Вы не найдете для себя ничего подходящего - Вы всегда можете заказать карнавальный костюм и
                аксессуары, воспользовавшись формой обратной связи.</p>

            <p>Мы закупаем наши карнавальные костюмы непосредственно у производителей Германии и Голландии. Традиционное
                европейское качество не заставляет сомневаться в том, что Вы не увидите торчащих ниток или кривых швов.
                Материалы, используемые при производстве карнавальных костюмов, наверняка не вызовут ни у Вас, ни у
                Ваших детей аллергических реакций.</p>


            <!-- Products -->
            <div id="merch">

                <div class="item odd">
                    <div class="hit"></div>
                    <h2><a href="#" title="Костюм пчелы">Костюм пчелы</a></h2>

                    <div class="photoBorder">
                        <div class="photo">
                            <a href="img/img1_large.jpg" class="item_photo">
                                <img src="img/img1.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="price"><span>2400</span> руб.</div>
                </div>

                <div class="item even">
                    <div class="hit"></div>
                    <h2><a href="#" title="Костюм вдовы">Костюм вдовы</a></h2>

                    <div class="photoBorder">
                        <div class="photo">
                            <a href="img/img2_large.jpg" class="item_photo">
                                <img src="img/img2.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="price"><span>3450</span> руб.</div>
                </div>

                <div class="item odd">
                    <div class="hit"></div>
                    <h2><a href="#" title="Костюм пиратки">Костюм пиратки</a></h2>

                    <div class="photoBorder">
                        <div class="photo">
                            <a href="img/img3_large.jpg" class="item_photo">
                                <img src="img/img3.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="price"><span>2700</span> руб.</div>
                </div>

                <div class="clear"></div>

                <div class="item odd">
                    <div class="hit"></div>
                    <h2><a href="#" title="Костюм ведьмы">Костюм ведьмы</a></h2>

                    <div class="photoBorder">
                        <div class="photo">
                            <a href="img/img4_large.jpg" class="item_photo">
                                <img src="img/img4.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="price"><span>4200</span> руб.</div>
                </div>

                <div class="item even">
                    <div class="hit"></div>
                    <h2><a href="#" title="Костюм ангела">Костюм ангела</a></h2>

                    <div class="photoBorder">
                        <div class="photo">
                            <a href="img/img5_large.jpg" class="item_photo">
                                <img src="img/img5.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="price"><span>3650</span> руб.</div>
                </div>

                <div class="item odd">
                    <div class="hit"></div>
                    <h2><a href="#" title="Костюм Зорро">Костюм Зорро</a></h2>

                    <div class="photoBorder">
                        <div class="photo">
                            <a href="img/img6_large.jpg" class="item_photo">
                                <img src="img/img6.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="price"><span>3100</span> руб.</div>
                </div>

                <div class="clear"></div>

                <div id="pages">
                    <p><a id="PrevLink" href="#">←&nbsp;назад</a></p>
                    <ul>
                        <li><span class="on">1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                    <p><a id="NextLink" href="#">вперед&nbsp;→</a></p>
                </div>

            </div>
            <!--/ END Products -->

        </div>

        <!-- #sidebar-left -->
        <div id="sidebar-left">
            <div class="block">
                <ul class="catalog_menu">
                    <li id="n1" class="active"><a href="#" title="Костюмы для взрослых">Костюмы для взрослых</a>
                        <ul class="catalog_menu">
                            <li class="active"><a href="#" title="Костюмы для мужчин">Костюмы для мужчин</a></li>
                            <li><a href="#" title="Костюмы для женщин">Костюмы для женщин</a></li>
                            <li><a href="#" title="Эротические костюмы">Эротические костюмы</a></li>
                            <li><a href="#" title="Костюмы на Хэллоуин">Костюмы на Хэллоуин</a></li>
                        </ul>
                    </li>
                    <li id="n2"><a href="#" title="Костюмы для детей">Костюмы для детей</a>
                        <ul class="catalog_menu">
                            <li><a href="#" title="Костюмы для мальчиков">Костюмы для мальчиков</a></li>
                            <li><a href="#" title="Костюмы для девочек">Костюмы для девочек</a></li>
                        </ul>
                    </li>
                    <li id="n3"><a href="#" title="Новогодние костюмы">Новогодние костюмы</a>
                        <ul class="catalog_menu">
                            <li><a href="#" title="Костюм Деда Мороза">Костюм Деда Мороза</a></li>
                            <li><a href="#" title="Костюм Снегурочки">Костюм Снегурочки</a></li>
                            <li><a href="#" title="Костюмы на Новый Год">Костюмы на Новый Год</a></li>
                        </ul>
                    </li>
                    <li id="n4"><a href="#" title="Аксессуары">Аксессуары</a>
                        <ul class="catalog_menu">
                            <li><a href="#" title="Театральный грим">Театральный грим</a></li>
                            <li><a href="#" title="Парики">Парики</a></li>
                            <li><a href="#" title="Части костюмов">Части костюмов</a></li>
                            <li><a href="#" title="Карнавальные шляпы">Карнавальные шляпы</a></li>
                        </ul>
                    </li>
                    <li id="n5">
                        <a href='#' title="">Полезная информация</a>
                        <ul>
                            <li><a href="#" title="">Прокат костюмов</a></li>
                            <li><a href="#" title="">Стоимость проката</a></li>
                            <li><a href="#" title="">Условия проката</a></li>
                            <li><a href="#" title="">Договор проката</a></li>
                            <li><a href="#" title="">Скидки на прокат</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!--/ END #sidebar-left -->


    </div>
    <!-- END #wrapper -->

</div>
<!-- END #container -->

<!-- Footer -->
<div id="footer_outer">
    <div id="footer">

        <div id="rights">
            <p>IQ Карнавал © 2011<br>
                Все права защищены</p>
        </div>

        <div id="links">
            <p><a href="#" title="Карнавальные костюмы">Карнавальные костюмы</a><br>
                <a href="#" title="Статьи о костюмах">Статьи о костюмах</a></p>

            <p><a href="#" title="Прокат костюмов">Прокат костюмов</a><br>
                <a href="#" title="Заказать костюм">Заказать костюм</a></p>

            <p><a href="#" title="Как купить костюм">Как купить костюм</a><br>
                <a href="#" title="Контакты">Контакты</a></p>
        </div>

        <div id="created">
            <p><a href="§" title="Разработка сайтов">Разработка сайта</a> — Веб-студия<br>
                Создание и продвижение сайтов</p>
        </div>

    </div>
</div>
<!-- END Footer -->

</div>
<!-- END #container_outer -->
</div>
<!-- END #wrap -->
</body>
</html>