<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <meta name="robots" content="noindex, nofollow"/>

    <title>Родословная книга</title>

    <link href="css/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="../js/ie/DD_roundies.js"></script>

    <!--[if IE ]>
    <link href="css/ie.css" rel="stylesheet" type="text/css"/>
    <script>
        DD_roundies.addRule('', '10px');
    </script>
    <![endif]-->

    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js"></script>

    <!-- jCarousel -->
    <script type="text/javascript" src="../js/jcarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mycarousel, #mycarousel1, #mycarousel2, #mycarousel3, #mycarousel4').jcarousel({
                visible: 3,
                wrap: 'circular'
            });
        });
    </script>

</head>

<body>

<div id="container">

    <div id="wrapper">

        <div id="header">
            <a href="#" class="logo" title="Genealogic.ru"></a>

            <div id="phone">
                <span>Телефон в Москве:</span><b>+7 (495) 123-45-67</b>
                <span>Телефон в Санкт-Петербурге:</span><b>+7 (812) 123-45-67</b>
            </div>

            <a href="#" class="icon i1" title="Карта сайта"></a>
            <a href="#" class="icon i2" title="Написать нам"></a>
            <a href="#" class="icon i3" title=""></a>

            <div id="mainMenu">
                <ul>
                    <li><a href="#" title="">Родословная книга</a></li>
                    <li><a href="#" title="">Оплата</a></li>
                    <li><a href="#" title="">Доставка</a></li>
                    <li><a href="#" title="">О компании</a></li>
                    <li><a href="#" title="">Контакты</a></li>
                </ul>
            </div>

        </div>
        <!-- END #header -->

        <div id="content">

            <div id="submenu">
                <ul>
                    <li><a href="#" title="">Художественые</a></li>
                    <li><a href="#" title="">Стандартые</a></li>
                    <li><a href="#" title="">Гербовые</a></li>
                    <li><a href="#" title="">Элитные</a></li>
                </ul>
            </div>
            <!-- END #submenu -->


            <!-- Content Part -->
            <div class="brLeft">
                <div class="brRight">

                    <ul id="mycarousel" class="jcarousel-skin-tango ">
                        <li>
                            <h2><a href="#" title="Традиционная">Традиционная</a></h2>
                            <div class="tovar">
                                <a href="#" title="Традиционная">
                                    <img src="img/books/book1.jpg" alt="Традиционная"/>
                                </a>
                                <div class="catalog_price">
                                    <form class="price" action="">
                                        <div class="hit_price">
                                            <p>2000<span>&nbsp;руб.</span></p>
                                        </div>
                                        <input type='button' class="hit_button"/>
                                    </form>
                                </div>

                            </div>
                        </li>
                        <li>
                            <h2><a href="#" title="Барокко">Эксклюзив Барокко</a></h2>
                            <div class="tovar">
                                <a href="#" title="Барокко">
                                    <img src="img/books/book6.jpg" alt="Барокко"/>
                                </a>
                                <div class="catalog_price">
                                    <form class="price" action="">
                                        <div class="hit_price">
                                            <p>1500<span>&nbsp;руб.</span></p>
                                        </div>
                                        <input type='button' class="hit_button"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><a href="#" title="Серебряный век альбом">Серебряный век альбом</a></h2>
                            <div class="tovar">
                                <a href="#" title="Серебряный век альбом">
                                    <img src="img/books/book2.jpg" alt="Серебряный век альбом"/>
                                </a>
                                <div class="catalog_price">
                                    <form class="price" action="">
                                        <div class="hit_price">
                                            <p>3900<span>&nbsp;руб.</span></p>
                                        </div>
                                        <input type='button' class="hit_button"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><a href="#" title="Серебряный век кожа">Серебряный век кожа</a></h2>

                            <div class="tovar">
                                <a href="#" title="Серебряный век кожа">
                                    <img src="img/books/book3.jpg" alt="Серебряный век кожа"/>
                                </a>
                                <div class="catalog_price">
                                    <form class="price" action="">
                                        <div class="hit_price">
                                            <p>3500<span>&nbsp;руб.</span></p>
                                        </div>
                                        <input type='button' class="hit_button"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><a href="#" title="Классическая">Эксклюзив Классическая</a></h2>
                            <div class="tovar">
                                <a href="#" title="Классическая">
                                    <img src="img/books/book4.jpg" alt="Классическая"/>
                                </a>
                                <div class="catalog_price">
                                    <form class="price" action="">
                                        <div class="hit_price">
                                            <p>4500<span>&nbsp;руб.</span></p>
                                        </div>
                                        <input type='button' class="hit_button"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><a href="#" title="Гербовая Золото">Гербовая Золото</a></h2>
                            <div class="tovar">
                                <a href="#" title="Гербовая Золото">
                                    <img src="img/books/book5.jpg" alt="Гербовая Золото"/>
                                </a>
                                <div class="catalog_price">
                                    <form class="price" action="">
                                        <div class="hit_price">
                                            <p>2200<span>&nbsp;руб.</span></p>
                                        </div>
                                        <input type='button' class="hit_button"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>


                    <h1>Main Content</h1>

                    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от
                        всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек
                        Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая
                        страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не
                        имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая
                        строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий
                        Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но
                        текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс
                        и пустился в дорогу. </p>

                    <h2>H2 level heading</h2>

                    <p>Взобравшись на первую вершину курсивных гор, бросил он последний взгляд
                        назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок
                        своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой
                        путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается
                        по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в
                        свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь.</p>

                    <div class="border top"></div>
                    <div class="border btm"></div>

                    <div class="corner cor1"></div>
                    <div class="corner cor2"></div>
                    <div class="corner cor3"></div>
                    <div class="corner cor4"></div>

                </div>

            </div>
            <!-- END Content Part -->
        </div>
        <!-- END #content -->

        <div id="footer">
            <p class="rights">© ООО "Родословная книга", 2010</p>

            <p class="created">Сайт создан</p>
        </div>
        <!-- END #footer -->

    </div>
    <!-- END #wrapper -->
</div>
<!-- END #container -->

</body>
</html>