/* CSS Reset  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**********************************/
/************* FONTS **************/
/**********************************/
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: local('Anton'), url(../fonts/Anton.woff) format('woff');
}




/**********************************/
/************ CLEARFIX ************/
/**********************************/
body {
    width: 100%;
    *zoom: 1;
}

body:before,
body:after {
    content: "";
    display: table;
}

body:after {
    clear: both;
}

body {
    width: 100%;
    *zoom: 1;
}

body:before,
body:after {
    content: "";
    display: table;
}

body:after {
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

/**********************************/
/************** BASE **************/
/**********************************/
html,
body {
    height: 100%;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: url('../img/back.jpg') repeat;
}

body > #wrapper {
    min-height: 100%;
    margin-bottom: -150px;
}

body > #wrapper:after {
    content: "";
    display: block;
    height: 150px;
}

/**********************************/
/************* LAYOUT *************/
/**********************************/
#wrapper {
    width: 100%;
    min-width: 260px;
    max-width: 992px;
    margin: 0 auto;
    overflow: hidden;
}

#header {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

#content {
    float: left;
    width: 100%;
}

#content #main {
    display: inline;
    float: left;
    width: 62.82051282051283%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-top: 20px;
    margin-bottom: 170px;
}

#content #main.full_size {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-top: 20px;
    margin-bottom: 170px;
}

#content #main.blog {
    display: inline;
    float: left;
    width: 71.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-top: 20px;
    margin-bottom: 170px;
}

@media screen and (max-width: 768px) {
    #content #main {
        display: inline !important;
        float: left !important;
        width: 96.15384615384615% !important;
        margin: 0 0.9615384615384616% !important;
        padding: 0.9615384615384616% !important;
        margin-bottom: 1em;
        margin-top: 20px;
    }
}

#content #sidebar {
    float: right !important;
    display: inline;
    float: left;
    width: 29.487179487179485%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-top: 20px;
    margin-bottom: 170px;
}

#content #sidebar.blog {
    float: right !important;
    display: inline;
    float: left;
    width: 21.153846153846153%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-top: 20px;
    margin-bottom: 170px;
}

@media screen and (max-width: 768px) {
    #content #sidebar {
        display: inline !important;
        float: left !important;
        width: 96.15384615384615% !important;
        margin: 0 0.9615384615384616% !important;
        padding: 0.9615384615384616% !important;
        margin-bottom: 170px !important;
    }
}

#footer {
    width: 100%;
    min-width: 260px;
    max-width: 992px;
    margin: 0 auto;
    height: 150px;
}

/**************************************/
/********** CONTENT ELEMENTS **********/
/**************************************/
a {
    color: #333333;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 55px;
    color: #333333;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 624px) {
    h1 {
        font-size: 45px;
    }
}

h1 a {
    color: #ededed;
    text-decoration: none;
}

h1 span {
    display: inline-block;
    margin: 0 .4em;
}

h1 span:before,
h1 span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 5px solid;
    margin-top: .6em;
}

h1 span:before {
    margin-left: -102%;
}

h1 span:after {
    margin-left: 2%;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    padding: 5px 10px;
    color: #fff;
    background: #333333;
    text-transform: uppercase;
    margin-bottom: 20px;
    clear: both;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    padding: 0.8em 0;
    color: #ededed;
    text-align: center;
}

h4 {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

p {
    color: #666666;
    margin-bottom: 15px;
    font-size: 1em;
}

/**************************************/
/***************** LOGO ***************/
/**************************************/
#header .logo {
    margin-top: 50px;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    background-image: url("../img/ribbon.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#header .logo__left,
#header .logo__right {
    display: inline-block;
    width: 38%;
    color: #fff;
    vertical-align: middle;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: normal;
    zoom: 1;
    margin-top: -5px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    #header .logo__left,
    #header .logo__right {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    #header .logo__left,
    #header .logo__right {
        font-size: 35px;
    }
}

@media screen and (max-width: 480px) {
    #header .logo__left,
    #header .logo__right {
        font-size: 25px;
        margin-top: -3px;
    }
}

@media screen and (max-width: 320px) {
    #header .logo__left,
    #header .logo__right {
        font-size: 15px;
    }
}

#header .logo__left {
    text-align: right;
    padding-right: 2%;
}

#header .logo__right {
    padding-left: 2%;
}

#header .logo a {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

#header .logo a img {
    width: 100%;
}

/**************************************/
/***************** MENU ***************/
/**************************************/
#topNav {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

#topNav .toggle-menu {
    width: 44px;
    height: 34px;
    cursor: pointer;
    background: url("../img/menu_button.png") 0 0 no-repeat;
}

#topNav .toggle-menu:hover {
    background-position: 0 100%;
}

#topNav,
#bottomNav {
    /* LEVEL ONE */
}

#topNav ul,
#bottomNav ul {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    /* LEVEL TWO */
}

#topNav ul li,
#bottomNav ul li {
    display: inline-block;
    width: 85px;
    position: relative;
}

#topNav ul li a,
#bottomNav ul li a {
    display: block;
    padding: 10px 0;
    color: #333333;
    text-decoration: none;
}

#topNav ul li a:hover,
#bottomNav ul li a:hover {
    color: #e22f1f;
}

#topNav ul li.active a,
#bottomNav ul li.active a {
    color: #e22f1f;
}

#topNav ul ul,
#bottomNav ul ul {
    position: absolute;
    z-index: 99999;
    width: 85px;
    background: #cccccc;
}

#topNav ul ul li,
#bottomNav ul ul li {
    width: 100%;
}

#topNav ul ul li a,
#bottomNav ul ul li a {
    display: block;
}

#topNav ul.mobile li,
#bottomNav ul.mobile li {
    width: 100%;
}

#bottomNav > ul li {
    width: 16%;
}

#bottomNav > ul li ul {
    width: 100%;
}

/**************************************/
/************** TOP SLIDER ************/
/**************************************/
#slider {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

#slider .bx-wrapper .bx-controls-direction a {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

#slider:hover .caption {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

#slider:hover .bx-wrapper .bx-controls-direction a {
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#slider:hover .bx-wrapper .bx-controls-direction a:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

#slider .bx-wrapper {
    padding: 20px 25px;
    background-image: url('../img/slider_back.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media screen and (max-width: 768px) {
    #slider .bx-wrapper {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 480px) {
    #slider .bx-wrapper {
        padding: 10px 15px;
    }
}

#slider .caption {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #fff;
    padding: 10px;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

@media screen and (max-width: 624px) {
    #slider .caption {
        display: none;
    }
}

#slider .caption h3 {
    text-align: left;
    padding: 0.3em 0;
}

#slider .caption p {
    font-size: 95%;
}

/**************************************/
/***************** NEWS ***************/
/**************************************/
.news {
    border-bottom: 5px solid #000;
    padding-bottom: 30px;
    margin-top: 20px;
}

.news.last {
    border-bottom: none;
}

.news .head {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.news .date,
.news .title {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    float: left;
}

.news .date {
    color: #333333;
    margin-right: 20px;
}

.news .title {
    color: #000;
}

.news .text {
    color: #333333;
}

.readmore {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    background: #333333;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.readmore a {
    color: #999999;
    text-decoration: none;
    margin-left: 10px;
}

.readmore a:hover {
    color: #e22f1f;
}

/**************************************/
/*************** CAROUSEL *************/
/**************************************/
#carousel {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

@media screen and (max-width: 480px) {
    #carousel {
        display: none;
    }
}

#carousel .bx-wrapper {
    max-width: 100% !important;
}

#carousel .bx-wrapper .bx-viewport {
    box-shadow: none;
}

#carousel .bx-wrapper li {
    margin-right: 30px;
}

#carousel .bx-wrapper li .darken {
    background: #000;
}

#carousel .bx-wrapper li img {
    width: 100%;
}

#carousel .bx-wrapper .bx-prev,
#carousel .bx-wrapper .bx-next {
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#carousel .bx-wrapper .bx-prev:hover,
#carousel .bx-wrapper .bx-next:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

#carousel .bx-wrapper .bx-prev {
    left: -20px;
}

#carousel .bx-wrapper .bx-next {
    right: -20px;
}

/**************************************/
/*************** FOOTER ***************/
/**************************************/
#footer .border {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    border-top: 5px solid #333333;
    border-bottom: 5px solid #333333;
    padding: 0 !important;
    width: 97.1153% !important;
}

#footer .border .logo {
    background: #333333;
    padding: 10px 0 0 3%;
    width: 12%;
    height: 80px;
    float: left;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

#footer .border .logo span {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

#footer .border #bottomNav {
    width: 85%;
    float: left;
    height: 65px;
    padding-top: 25px;
}

@media screen and (max-width: 768px) {
    #footer .border {
        display: none;
    }
}

#footer .links {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

#footer .links p {
    float: left;
    line-height: 30px;
}

#footer .links .soc_icons {
    float: right;
}

#footer .links .soc_icons .soc_icon {
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: url("../img/soc_icons_black.png") 0 0 no-repeat;
}

#footer .links .soc_icons .soc_icon.tw {
    background-position: -30px 0;
}

#footer .links .soc_icons .soc_icon.gl {
    background-position: -60px 0;
}

/**************************************/
/************** SIDEBAR ***************/
/**************************************/
.tour_dates {
    float: left;
    width: 100%;
    clear: both;
    color: #333333;
}

.tour_dates .tour {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .tour_dates .tour {
        display: inline;
        float: left;
        width: 46.15384615384616%;
        margin: 0 0.9615384615384616%;
        padding: 0.9615384615384616%;
        clear: none;
    }
}

.tour_dates .tour .left {
    display: inline;
    float: left;
    width: 21.153846153846153%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    text-align: right;
}

.tour_dates .tour .left .date {
    background: #333333;
    color: #fff;
    text-align: right;
    font-family: 'Anton', sans-serif;
    font-size: 26px;
    padding: 10px 10px 0;
    height: 60px;
    text-transform: uppercase;
    line-height: 0.9;
}

@media screen and (min-width: 480px) and (max-width: 624px) {
    .tour_dates .tour .left {
        display: inline;
        float: left;
        width: 29.487179487179485%;
        margin: 0 0.9615384615384616%;
        padding: 0.9615384615384616%;
    }
}

.tour_dates .tour .right {
    display: inline;
    float: left;
    width: 71.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    font-size: 95%;
}

.tour_dates .tour .right .title {
    font-weight: 800;
}

.tour_dates .tour .right .type {
    padding-bottom: 4px;
}

.tour_dates .tour .right .buy_tickets {
    background: #000;
    color: #fff;
    padding: 2px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Anton', sans-serif;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.tour_dates .tour .right .buy_tickets:hover {
    background: #e22f1f;
}

@media screen and (min-width: 480px) and (max-width: 624px) {
    .tour_dates .tour .right {
        display: inline;
        float: left;
        width: 62.82051282051283%;
        margin: 0 0.9615384615384616%;
        padding: 0.9615384615384616%;
        font-size: 90%;
    }
}

#sidebar h4 {
    font-size: 18px;
    padding-bottom: 3px;
    border-bottom: 5px solid;
    margin-bottom: 20px;
}

/**************************************/
/************** CONTENT ***************/
/**************************************/
.page_image {
    display: block;
    padding: 20px 25px;
    background-image: url('../img/slider_back.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .page_image {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 480px) {
    .page_image {
        padding: 10px 15px;
    }
}

.page_image img {
    width: 100%;
}

.text50 {
    display: inline;
    float: left;
    width: 46.15384615384616%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

@media screen and (max-width: 624px) {
    .text50 {
        display: inline;
        float: left;
        width: 96.15384615384615%;
        margin: 0 0.9615384615384616%;
        padding: 0.9615384615384616%;
    }
}

/**************************************/
/*********** CONTACT PAGE *************/
/**************************************/
.address {
    display: inline;
    float: left;
    width: 29.487179487179485%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

#contact_form {
    display: inline;
    float: left;
    width: 62.82051282051283%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

#contact_form textarea {
    height: 110px;
}

#contact_form input.form__button {
    margin-right: -1%;
}

/*** FORM ***/
.form .left {
    display: inline;
    float: left;
    width: 46.15384615384616%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

.form .right {
    display: inline;
    float: left;
    width: 46.15384615384616%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

.form .buttons {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

.form input,
.form textarea {
    border: none;
    font-family: 'Anton', sans-serif;
    color: #fff;
    background: #666666;
    font-size: 1.1em;
}

.form input[type=text],
.form textarea {
    padding: 5px 3px;
    width: 100%;
    margin-bottom: 5px;
}

input.form__button {
    background: #000;
    float: right;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

input.form__button:hover {
    background: #e22f1f;
}

/**************************************/
/*********** GALLERY PAGE *************/
/**************************************/
.thumbnails {
    margin: 0 0 0 -15px;
    text-align: center;
}

.thumbnails .thumbnail {
    text-decoration: none;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 15px 0 0 15px;
}

.thumbnails .thumbnail span {
    width: 220px;
    height: 220px;
    float: left;
    overflow: hidden;
    text-align: center;
}

.thumbnails .thumbnail span img {
    margin-left: -25%;
}

/**************************************/
/************ VIDEO PAGE **************/
/**************************************/
.video {
    display: inline;
    float: left;
    width: 29.487179487179485%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-bottom: 20px;
}

@media screen and (max-width: 624px) {
    .video {
        display: inline;
        float: left;
        width: 96.15384615384615%;
        margin: 0 0.9615384615384616%;
        padding: 0.9615384615384616%;
    }
}

.video .info h3 {
    color: #e22f1f;
    text-align: left;
    padding: 0;
    text-transform: uppercase;
}

.video .info p {
    font-size: 0.9em;
    color: #333333;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 50px;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_music__item,
.music__item {
    margin-bottom: 20px;
}

.top_music__item img,
.music__item img {
    width: 100%;
}

.top_music {
    display: inline;
    float: left;
    width: 62.82051282051283%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

@media screen and (max-width: 624px) {
    .top_music {
        display: inline;
        float: left;
        width: 96.15384615384615%;
        margin: 0 0.9615384615384616%;
        padding: 0.9615384615384616%;
    }
}

.music {
    display: inline;
    float: left;
    width: 29.487179487179485%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

@media screen and (max-width: 624px) {
    .music {
        display: inline;
        float: left;
        width: 96.15384615384615%;
        margin: 0 0.9615384615384616%;
        padding: 0.9615384615384616%;
    }
}

/**************************************/
/*************** BLOG *****************/
/**************************************/
.post {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    background: #fff;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.post .head {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-bottom: 10px;
}

.post .head .date,
.post .head .title {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    float: left;
}

.post .head .date {
    color: #333333;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.post .head .title {
    width: 100%;
    clear: both;
    color: #000;
}

.post .head .title a {
    text-decoration: none;
}

.post .head .title a:hover {
    text-decoration: underline;
}

.post .text {
    color: #333333;
    padding: 0 15px;
}

.post .text img {
    width: 40%;
    float: left;
    margin-right: 10px;
}

.post .text .intro {
    font-size: 0.9em;
    line-height: 1.3299999999999998;
}

.post__readmore {
    background: #000;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 0.9em;
    line-height: 50px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: lowercase;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.post__readmore:hover {
    background: #e22f1f;
}

.post .content {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
}

.post .content img {
    width: 100%;
    margin-bottom: 20px;
}

.post .content a {
    text-decoration: none;
}

#carousel.blog_carousel {
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    #carousel.blog_carousel {
        display: block;
    }
}

#carousel.blog_carousel .bx-wrapper .bx-controls-direction a {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

#carousel.blog_carousel:hover .bx-wrapper .bx-controls-direction a {
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#carousel.blog_carousel:hover .bx-wrapper .bx-controls-direction a:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

#carousel.blog_carousel a {
    text-decoration: none;
}

#carousel.blog_carousel img {
    margin-bottom: 10px;
}

#carousel.blog_carousel .title {
    font-family: 'Anton', sans-serif;
    font-size: 1em;
    color: #333333;
    margin-bottom: 3px;
    display: block;
}

#carousel.blog_carousel .date {
    font-size: 10px;
    display: block;
}

.recent_post {
    padding-bottom: 15px;
    clear: both;
}

.recent_post a {
    text-decoration: none;
}

.recent_post a:hover {
    text-decoration: underline;
}

.recent_post img {
    width: 35%;
    float: left;
    padding: 0 5px 5px 0;
}

.recent_post .title {
    display: block;
    font-size: 0.9em;
    line-height: 1.19;
    margin: 0;
    color: #000;
}

.recent_post .date {
    display: inline;
    font-size: 10px;
}

.tags {
    display: inline;
    float: left;
    width: 96.15384615384615%;
    margin: 0 0.9615384615384616%;
    padding: 0.9615384615384616%;
    margin-bottom: 20px;
    margin-top: -10px;
}

.tags a {
    text-decoration: none;
    font-size: 0.9em;
    margin-right: 15px;
}

.tags a:hover {
    text-decoration: underline;
}

.soc_icons_color {
    float: left;
}

.soc_icons_color .soc_icon {
    float: left;
    width: 23px;
    height: 23px;
    margin-left: 5px;
    background: url("../img/soc_icons_color.png") 0 0 no-repeat;
}

.soc_icons_color .soc_icon.tw {
    background-position: -23px 0;
}

.soc_icons_color .soc_icon.gl {
    background-position: -46px 0;
}

