<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>

    <!--[if IE ]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen,print"/>
    <![endif]-->
</head>

<body>

<div id="containerWrap">
    <div id="container">

        <div id="header">

            <a href="#" class="logo" title="Royal Wedding"></a>

            <div id="phone"><span>(812)</span> 123-45-67</div>

            <div id="main_menu">
                <ul>
                    <li class="active_trail" title=""><a href="about.html">О нас</a></li>
                    <li><a href="uslugi.html" title="">Услуги</a></li>
                    <li><a href="portfolio.html" title="">Портфолио</a></li>
                    <li><a href="feedback.html" title="">Отзывы</a></li>
                    <li><a href="budjet.html" title="">Свадебный бюджет</a></li>
                    <li class="last"><a href="contacts.html" title="">Контакты</a></li>
                </ul>
            </div>
            <!-- /#main_menu -->

        </div>
        <!-- /#header -->


        <div id="wrap">
            <div id="contentWrap">
                <div id="content" class="single">

                    <img src="img/img1.jpg" class="border" alt="" />
                    <img src="img/img2.jpg" class="border" alt="" />
                    <img src="img/img3.jpg" class="border" alt="" />
                    <img src="img/img4.jpg" class="border" alt="" />

                    <div id="contentMenu">
                        <a href="#" title="" class="contentMenu">Раздел первый</a>
                        <a href="#" title="" class="contentMenu">Раздел второй</a>
                        <a href="#" title="" class="contentMenu">Раздел третий</a>
                        <a href="#" title="" class="contentMenu last">Раздел четвертый</a>
                    </div>

                    <h1>О нас</h1>

                    <p>Дорогие жених и невеста! Вам удалось найти самое нежное и невероятное чувство на Земле, и теперь
                        Вам предстоит пережить самый прекрасный и значимый праздник в жизни! И для того чтобы этот
                        праздник состоялся, став воплощением Вашей мечты, существуем мы - Свадебное Агентство
                        «Royal-Wedding».</p>

                    <p>Для того чтобы Ваша свадьба стала Событием №1, нужно учесть тысячи важных деталей. Выслать
                        необычные приглашения, найти стоящего фотографа и видеографа, стилиста, визажиста, устроить
                        оригинальный выкуп невесты, подобрать сценарий для свадьбы, выбрать место проведения торжества,
                        составить банкетное меню, пригласить ведущего, ди-джея, артистов, арендовать транспорт,
                        гостиничный номер для первой брачной ночи, заказать свадебный торт, оформить банкетный зал,
                        разучить свадебный танец, устроить фейерверк, организовать мальчишник и девичник... и это
                        конечно же еще не весь список. </p>

                    <p>Каким будет этот ответственный и самый счастливый день в вашей жизни, решать именно Вам, дорогие
                        жених и невеста! А предусмотреть все детали и объединить их в единый процесс поможет наша
                        творческая команда «Royal-Wedding». Мы работаем над каждым событием столько, сколько необходимо
                        для достижения идеального результата. Коллектив «Royal-Wedding» состоит из дипломированных
                        специалистов в области режиссуры театрализованных представлений и праздников! Будьте уверены:
                        все, что мы делаем – проверено, безупречно организовано и отлично работает!</p>

                    <p>Любовь – это самое прекрасное, что есть на Земле. Любите, женитесь, будьте счастливы!</p>

                </div>
                <!-- /#content -->

            </div>
            <!-- /#contentWrap -->
        </div>
        <!-- /#wrap -->

        <div id="footerWrap">
            <div id="footer">
                <p></p>
            </div>
            <!-- /#footer -->
        </div>
        <!-- /#footerWrap -->

    </div>
    <!-- /#container -->
</div>
<!-- /#containerWrap -->

</body>
</html>