<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>

    <!--[if IE ]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen,print"/>
    <![endif]-->
</head>

<body>

<div id="containerWrap">
    <div id="container">

        <div id="header">

            <a href="#" class="logo" title="Royal Wedding"></a>

            <div id="phone"><span>(812)</span> 123-45-67</div>

            <div id="main_menu">
                <ul>
                    <li><a href="about.html" title="">О нас</a></li>
                    <li><a href="uslugi.html" title="">Услуги</a></li>
                    <li><a href="portfolio.html" title="">Портфолио</a></li>
                    <li><a href="feedback.html" title="">Отзывы</a></li>
                    <li class="active_trail"><a href="budjet.html" title="">Свадебный бюджет</a></li>
                    <li class="last"><a href="contacts.html" title="">Контакты</a></li>
                </ul>
            </div>
            <!-- /#main_menu -->

        </div>
        <!-- /#header -->

        <div id="wrap">
            <div id="contentWrap">
                <div id="content" class="single">
                    <h1>Свадебный бюджет</h1>

                    <p>Свадебное агентство «Royal-Wedding» занимается организацией изысканных, ярких и вызывающих
                        восторг свадеб. К каждой нашей паре мы ищем индивидуальный подход, поэтому точную стоимость
                        организации свадьбы сообщить в этом разделе мы не в силах. Но скажем сразу: Организация самого
                        прекрасного и значимого праздника в жизни – это всегда затратная часть каждого семейного
                        бюджета.</p>

                    <p>Мы честны и открыты с нашими парами, не скрываем имен и координат всех своих партнеров. Мы
                        демонстрируем и предлагаем вам фото и портфолио именно тех людей, кого сами долго и кропотливо
                        отбирали, тех, кто действительно соответствует высокому уровню исполнения и мастерства.</p>

                    <h6>PS: Дорогие жених и невеста, если для принятия решения Вам нужно больше числовой конкретики,
                        специально для Вас мы подготовили кусочек сметы по основным позициям.</h6>

                    <p><span>PS:</span> Дорогие жених и невеста, если для принятия решения Вам нужно больше числовой
                        конкретики, специально для Вас мы подготовили <strong>кусочек сметы</strong> по основным
                        позициям.</p>

                </div>
                <!-- /#content -->

            </div>
            <!-- /#contentWrap -->
        </div>
        <!-- /#wrap -->

        <div id="footerWrap">
            <div id="footer">
                <p></p>
            </div>
            <!-- /#footer -->
        </div>
        <!-- /#footerWrap -->

    </div>
    <!-- /#container -->
</div>
<!-- /#containerWrap -->

</body>
</html>