<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>

    <!--[if IE ]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen,print"/>
    <![endif]-->
</head>

<body>

<div id="containerWrap">
    <div id="container">

        <div id="header">

            <a href="#" class="logo" title="Royal Wedding"></a>

            <div id="phone"><span>(812)</span> 123ß45ß67</div>

            <div id="main_menu">
                <ul>
                    <li><a href="about.html" title="">О нас</a></li>
                    <li><a href="uslugi.html" title="">Услуги</a></li>
                    <li class="active_trail"><a href="portfolio.html" title="">Портфолио</a></li>
                    <li><a href="feedback.html" title="">Отзывы</a></li>
                    <li><a href="budjet.html" title="">Свадебный бюджет</a></li>
                    <li class="last"><a href="contacts.html" title="">Контакты</a></li>
                </ul>
            </div>

        </div>
        <!-- /#header -->

        <div id="wrap">
            <div id="contentWrap">
                <div id="content" class="single">
                    <h1>Портфолио</h1>

                    <table class="portfolio">
                        <tr>
                            <td class="photo"><img src="img/img1.jpg" class="borderPortf" alt=""/></td>
                            <td><a href="#">Классическая свадьба Юлии и Вячеслава</a></td>
                            <td class="video"><img src="img/video.jpg" class="video" alt=""/></td>
                        </tr>
                        <tr>
                            <td class="photo"><img src="img/img2.jpg" class="borderPortf" alt=""/></td>
                            <td><a href="#">Свадьба во дворце Марии и Николая</a></td>
                            <td class="video"><img src="img/video.jpg" class="video" alt=""/></td>
                        </tr>
                        <tr>
                            <td class="photo"><img src="img/img3.jpg" class="borderPortf" alt=""/></td>
                            <td><a href="#">Костюмированная свадьба Людмилы и Дмитрия</a></td>
                            <td class="video"><img src="img/video.jpg" class="video" alt=""/></td>
                        </tr>
                        <tr>
                            <td class="photo"><img src="img/img4.jpg" class="borderPortf" alt=""/></td>
                            <td><a href="#">Венчание Надежды и Дмитрия</a></td>
                            <td class="video"><img src="img/video.jpg" class="video" alt=""/></td>
                        </tr>
                        <tr>
                            <td class="photo"><img src="img/img1.jpg" class="borderPortf" alt=""/></td>
                            <td><a href="#">Тематическая свадьба Ольги и Стаса</a></td>
                            <td class="video"><img src="img/video.jpg" class="video" alt=""/></td>
                        </tr>
                        <tr>
                            <td class="photo"><img src="img/img2.jpg" class="borderPortf" alt=""/></td>
                            <td><a href="#">Выездная регистрация Елены и Антона</a></td>
                            <td class="video"><img src="img/video.jpg" class="video" alt=""/></td>
                        </tr>
                    </table>

                </div>
                <!-- /#content -->

            </div>
            <!-- /#contentWrap -->
        </div>
        <!-- /#wrap -->

        <div id="footerWrap">
            <div id="footer">
                <p></p>
            </div>
            <!-- /#footer -->
        </div>
        <!-- /#footerWrap -->

    </div>
    <!-- /#container -->
</div>
<!-- /#containerWrap -->

</body>
</html>