<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,print"/>

    <!--[if IE ]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen,print"/>
    <![endif]-->
</head>

<body>

<div id="containerWrap">
    <div id="container">

        <div id="header">

            <a href="#" class="logo" title="Royal Wedding"></a>

            <div id="phone"><span>(812)</span> 123-45-67</div>

            <div id="main_menu">
                <ul>
                    <li><a href="about.html" title="">О нас</a></li>
                    <li class="active_trail"><a href="uslugi.html" title="">Услуги</a></li>
                    <li><a href="portfolio.html" title="">Портфолио</a></li>
                    <li><a href="feedback.html" title="">Отзывы</a></li>
                    <li><a href="budjet.html" title="">Свадебный бюджет</a></li>
                    <li class="last"><a href="contacts.html" title="">Контакты</a></li>
                </ul>
            </div>

        </div>
        <!-- /#header -->

        <div id="wrap">
            <div id="contentWrap">
                <div id="content">
                    <h1>Услуги</h1>
                    <h6>Вашему вниманию предлагается полный комплекс услуг по организации и проведению роскошной
                        эксклюзивной свадьбы!</h6>

                    <p>Одним из самых главных моментов при организации свадебного тожества является выбор места, где
                        будет проходить праздник. Это может быть ресторан, усадьба, дворец, теплоход, открытая поляна с
                        установленными шатрами.</p>

                    <p>Главным преимуществом организации торжества в ресторане является то, что Вашей свадьбе не смогут
                        помешать легкие капризы погоды города на Неве.</p>

                    <p>Проведение свадьбы во дворце отлично подходит для ценителей роскошных интерьеров и антиквариата,
                        а так же для проведения тематических и костюмированных свадеб.</p>

                    <p>Теплоход является наиболее распространенным местом проведения свадеб в летний период. Вы и Ваши
                        гости сможете по достоинству оценить красоту «Северной Венеции».</p>

                    <p>Для тех кто любит природу и удивительные красоты ландшафта, идеально подойдет проведение свадьбы
                        в белоснежном шатре на живописной зелёной поляне. Этот вариант однозначно лучший для проведения
                        выездной регистрации.</p>

                    <img src="img/img1.jpg" class="border" alt=""/>
                    <img src="img/img2.jpg" class="border" alt=""/>
                    <img src="img/img3.jpg" class="border" alt=""/>

                    <ul>
                        <li>Список</li>
                        <li>Список</li>
                    </ul>

                    <ol>
                        <li>Список</li>
                        <li>Список</li>
                    </ol>

                    <h2>Заголовок H2</h2>

                    <h3>Заголовок H3</h3>
                    <h4>Заголовок H4</h4>
                    <h5>Заголовок H5</h5>

                    <a href="#" title="">Ссылка</a>

                </div>
                <!-- /#content -->

                <div id="left">
                    <div id="leftMenu">
                        <ul>
                            <li><a href="#" title="">Места проведения банкета</a></li>
                            <li><a href="#" title="">Банкет</a></li>
                            <li><a href="#" title="">Аренда авто</a></li>
                            <li><a href="#" title="">Фото, видеосъемка</a></li>
                            <li><a href="#" title="">Ведущий</a></li>
                            <li><a href="#" title="">Развлекательная программа</a></li>
                            <li><a href="#" title="">Фейерверк</a></li>
                            <li><a href="#" title="">Свадебный торт</a></li>
                            <li><a href="#" title="">Свадебное оформление</a></li>
                            <li><a href="#" title="">Флористика</a></li>
                            <li><a href="#" title="">Услуги стилиста</a></li>
                            <li><a href="#" title="">Приглашения</a></li>
                            <li><a href="#" title="">Постановка свадебного танца</a></li>
                            <li><a href="#" title="">Девичник и мальчишник</a></li>
                            <li><a href="#" title="">Выездная регистрация</a></li>
                            <li><a href="#" title="">Свадебное путешествие</a></li>
                            <li><a href="#" title="">Свадьба за рубежом</a></li>
                            <li><a href="#" title="">Сценарии свадеб</a></li>
                            <li><a href="#" title="">Полезная информация</a></li>
                        </ul>
                    </div>
                    <!-- /#leftMenu -->
                </div>
                <!-- /#left -->

            </div>
            <!-- /#contentWrap -->
        </div>
        <!-- /#wrap -->

        <div id="footerWrap">
            <div id="footer">
                <p></p>
            </div>
            <!-- /#footer -->
        </div>
        <!-- /#footerWrap -->

    </div>
    <!-- /#container -->
</div>
<!-- /#containerWrap -->

</body>
</html>