<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>New Asgard</title>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="../js/bxslider/bxslider.css" media="screen">
    <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css" media="screen">

    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/bxslider/bxslider.min.js"></script>
    <script src="../js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="../js/html5.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <div class="logo__left">The New</div>
            <a href="index.html" title="The New Asgard"><img src="img/logo.png" alt="The New Asgard"></a>

            <div class="logo__right">Asgard</div>
        </div>
        <nav id="topNav">
            <ul class="dropdown fullsize">
                <li><a href="index.html" title="">Home</a></li>
                <li><a href="info.html" title="">Info</a>
                    <ul class="sub_menu">
                        <li><a href="contact.html" title="">Contact</a></li>
                    </ul>
                </li>
                <li><a href="gallery.html" title="">Gallery</a></li>
                <li><a href="music.html" title="">Music</a></li>
                <li><a href="tour.html" title="">Tour</a></li>
                <li class="active"><a href="blog.html" title="">Blog</a></li>
            </ul>
        </nav>
    </header>
    <!--/ END Header -->

    <section id="content">

        <!-- Main Part -->
        <article id="main" class="blog">
            <div class="post">
                <div class="head">
                    <div class="title"><a href="post1.html" title="Read More">This is the title of your first image
                        postt</a></div>
                    <div class="date">May 1, 2013</div>
                </div>
                <div class="content"><img src="img/blog_img1.jpg" alt="">

                    <p>
                        To create your first image blog post, click here and select 'Add & Edit Posts' > All Posts
                        > This is the title of your first image post. Great looking images make your blog posts more
                        visually compelling for your audience, and encourage readers to keep coming back.
                    </p>

                    <p>Tags:&nbsp;<a href="#" title="">photo</a></p>
                </div>
            </div>
        </article>
        <!--/ END Main Part -->

        <!-- Sidebar -->
        <aside id="sidebar" class="blog">
            <h4>Featured Posts</h4>

            <div id="carousel" class="blog_carousel">
                <ul class="blog_bxcarousel">
                    <li><a href="post1.html" title="" data-rel="carousel"><img src="img/blog_img1.jpg" alt=""><span
                            class="title">This is the title of your first image post</span><span class="date">May 1, 2013</span></a>
                    </li>
                    <li><a href="post2.html" title="" data-rel="carousel"><img src="img/blog_img2.jpg" alt=""><span
                            class="title">This is the title of your first video post</span><span class="date">May 1, 2013</span></a>
                    </li>
                </ul>
            </div>
            <h4>Recent Posts</h4>

            <div class="recent_post"><a href="post1.html" title="Read More"><img src="img/blog_img1.jpg" alt=""></a><a
                    href="post1.html" title="Read More" class="title">This is the title of your first image post</a>

                <div class="date">May 1, 2013</div>
            </div>
            <div class="recent_post"><a href="post2.html" title="Read More"><img src="img/blog_img2.jpg" alt=""></a><a
                    href="post2.html" title="Read More" class="title">This is the title of your first video post</a>

                <div class="date">May 1, 2013</div>
            </div>
            <div class="recent_post"><a href="post3.html" title="Read More" class="title">This is the title of your
                first blog post</a>

                <div class="date">May 1, 2013</div>
            </div>
            <h4>Search By Tags</h4>

            <div class="tags"><a href="#" title="">photo</a><a href="#" title="">video</a><a href="#" title="">text</a>
            </div>
            <h4>Follow Us</h4>

            <div class="soc_icons_color"><a href="#" title="" class="soc_icon fb"></a><a href="#" title=""
                                                                                         class="soc_icon tw"></a><a
                    href="#" title="" class="soc_icon gl"></a></div>
        </aside>
        <!--/ END Sidebar -->

    </section>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="border">
        <div class="logo"><span>The New</span><br>Asgard</div>
        <div id="bottomNav">
            <ul class="dropdown">
                <li class="active"><a href="index.html" title="">Home</a></li>
                <li><a href="info.html" title="">Info</a>
                    <ul class="sub_menu">
                        <li><a href="contact.html" title="">Contact</a></li>
                    </ul>
                </li>
                <li><a href="gallery.html" title="">Gallery</a></li>
                <li><a href="music.html" title="">Music</a></li>
                <li><a href="tour.html" title="">Tour</a></li>
                <li><a href="blog.html" title="">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="links">
        <p class="rights">© Made by</p>
        <div class="soc_icons">
            <a href="#" title="" class="soc_icon gl"></a>
            <a href="#" title="" class="soc_icon tw"></a>
            <a href="#"  title="" class="soc_icon fb"></a>
        </div>
    </div>
</footer>
<!--/END Footer -->

</body>
</html>