<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>New Asgard</title>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="../js/bxslider/bxslider.css" media="screen">
    <link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css" media="screen">

    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/bxslider/bxslider.min.js"></script>
    <script src="../js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="../js/html5.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <div class="logo__left">The New</div>
            <a href="index.html" title="The New Asgard"><img src="img/logo.png" alt="The New Asgard"></a>

            <div class="logo__right">Asgard</div>
        </div>
        <nav id="topNav">
            <ul class="dropdown fullsize">
                <li><a href="index.html" title="">Home</a></li>
                <li><a href="info.html" title="">Info</a>
                    <ul class="sub_menu">
                        <li><a href="contact.html" title="">Contact</a></li>
                    </ul>
                </li>
                <li><a href="gallery.html" title="">Gallery</a></li>
                <li><a href="music.html" title="">Music</a></li>
                <li class="active"><a href="tour.html" title="">Tour</a></li>
                <li><a href="blog.html" title="">Blog</a></li>
            </ul>
        </nav>
    </header>
    <!--/ END Header -->

    <section id="content">
        <h1><span>Tour</span></h1>

        <!-- Main Part -->
        <article id="main">
            <div class="news">
                <div class="head">
                    <div class="date">June 22</div>
                    <div class="title">Summer Festival</div>
                </div>
                <div class="text">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                    Text” or double click me and you can start adding your own content and make changes to the font.
                    Feel
                    free to drag and drop me anywhere you like on your page. I’m a great place for you to write more.
                    Tell a
                    story and let your users get to know you.
                </div>
            </div>
            <div class="news">
                <div class="head">
                    <div class="date">June 23</div>
                    <div class="title">New track magic mushrooms is out</div>
                </div>
                <div class="text">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                    Text” or double click me and you can start adding your own content and make changes to the font.
                    Feel
                    free to drag and drop me anywhere you like on your page. I’m a great place for you to write more.
                    Tell a
                    story and let your users get to know you.
                </div>
            </div>
            <div class="news">
                <div class="head">
                    <div class="date">June 25</div>
                    <div class="title">We're on tour</div>
                </div>
                <div class="text">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                    Text” or double click me and you can start adding your own content and make changes to the font.
                    Feel
                    free to drag and drop me anywhere you like on your page. I’m a great place for you to write more.
                    Tell a
                    story and let your users get to know you.
                </div>
            </div>
            <div class="news last">
                <div class="head">
                    <div class="date">June 28</div>
                    <div class="title">New track magic mushrooms is out</div>
                </div>
                <div class="text">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                    Text” or double click me and you can start adding your own content and make changes to the font.
                    Feel
                    free to drag and drop me anywhere you like on your page. I’m a great place for you to write more.
                    Tell a
                    story and let your users get to know you.
                </div>
            </div>
        </article>
        <!--/ END Main Part -->

        <!-- Sidebar -->
        <section id="sidebar">
            <!-- Tour Dates-->
            <h2>Tour Dates</h2>

            <div class="tour_dates">
                <div class="tour">
                    <div class="left">
                        <div class="date">Apr 5</div>
                    </div>
                    <div class="right">
                        <div class="title">The ~new~ Asgard</div>
                        <div class="type">Music Festival</div>
                        <a href="#" title="Buy Tickets" class="buy_tickets">Buy Tickets</a>
                    </div>
                </div>
                <div class="tour">
                    <div class="left">
                        <div class="date">Apr 11</div>
                    </div>
                    <div class="right">
                        <div class="title">The ~new~ Asgard</div>
                        <div class="type">Music Festival</div>
                        <a href="#" title="Buy Tickets" class="buy_tickets">Buy Tickets</a>
                    </div>
                </div>
                <div class="tour">
                    <div class="left">
                        <div class="date">Apr 14</div>
                    </div>
                    <div class="right">
                        <div class="title">The ~new~ Asgard</div>
                        <div class="type">Music Festival</div>
                        <a href="#" title="Buy Tickets" class="buy_tickets">Buy Tickets</a>
                    </div>
                </div>
                <div class="tour">
                    <div class="left">
                        <div class="date">Apr 20</div>
                    </div>
                    <div class="right">
                        <div class="title">The ~new~ Asgard</div>
                        <div class="type">Music Festival</div>
                        <a href="#" title="Buy Tickets" class="buy_tickets">Buy Tickets</a>
                    </div>
                </div>
                <div class="tour">
                    <div class="left">
                        <div class="date">Apr 25</div>
                    </div>
                    <div class="right">
                        <div class="title">The ~new~ Asgard Very Long Title</div>
                        <div class="type">Music Festival</div>
                        <a href="#" title="Buy Tickets" class="buy_tickets">Buy Tickets</a>
                    </div>
                </div>
                <div class="tour">
                    <div class="left">
                        <div class="date">Apr 30</div>
                    </div>
                    <div class="right">
                        <div class="title">The ~new~ Asgard</div>
                        <div class="type">Music Festival</div>
                        <a href="#" title="Buy Tickets" class="buy_tickets">Buy Tickets</a>
                    </div>
                </div>
            </div>
        </section>
        <!--/ END Sidebar -->

    </section>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="border">
        <div class="logo"><span>The New</span><br>Asgard</div>
        <div id="bottomNav">
            <ul class="dropdown">
                <li class="active"><a href="index.html" title="">Home</a></li>
                <li><a href="info.html" title="">Info</a>
                    <ul class="sub_menu">
                        <li><a href="contact.html" title="">Contact</a></li>
                    </ul>
                </li>
                <li><a href="gallery.html" title="">Gallery</a></li>
                <li><a href="music.html" title="">Music</a></li>
                <li><a href="tour.html" title="">Tour</a></li>
                <li><a href="blog.html" title="">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="links">
        <p class="rights">© Made by</p>
        <div class="soc_icons">
            <a href="#" title="" class="soc_icon gl"></a>
            <a href="#" title="" class="soc_icon tw"></a>
            <a href="#"  title="" class="soc_icon fb"></a>
        </div>
    </div>
</footer>
<!--/END Footer -->

</body>
</html>